In [1]:
cd ../../GalvClas/fantasy-score-predictor/

/Users/ericpei/Documents/GalvClas/fantasy-score-predictor

In [2]:
from scripts import make_df

In [3]:
from scripts import random_forest

/Users/ericpei/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [70]:
make_df.create_csvs('alldata')

In [71]:
df = make_df.create_df()

In [72]:
df = make_df.clean_df(df)

In [74]:
df=make_df.drop_zerominutes(df)

In [75]:
df = make_df.add_features(df)

In [76]:
Player_Averages = make_df.make_averages(df)

In [182]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,BLK%,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,0,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332

In [215]:
def check_year(date):
    if date.month < 7:
        return date.year
    else:
        return (date.year + 1)

In [197]:
Timedelta('1 days')

Timedelta('1 days 00:00:00')

In [199]:
from datetime import timedelta

In [196]:
from pandas import Timedelta

In [216]:
df['Season'] = df.apply(lambda x: check_year(x['Date']), axis=1)

In [217]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP,Season
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79,2010
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369,2010
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685,2010
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487,2010
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332,2010

In [316]:
g = df.groupby(['Home','OneisHome','Season','Date']).sum()

In [317]:
special_team_home = df.groupby(['Home','OneisHome','Season','Date']).sum()

In [318]:
special_team_away = df.groupby(['Away','OneisHome','Season','Date']).sum()

In [319]:
special_team_home.xs((['ATL',1]),level=['Home','OneisHome'])

                   FG  FGA    FG%  3P  3PA    3P%  FT  FTA    FT%  ORB  ...    \
Season Date                                                             ...
2006   2005-11-08  37   75  3.946   4   15  1.200  19   26  5.871    9  ...
       2005-11-10  37   91  4.014   1    9  0.200  20   27  4.467   17  ...
       2005-11-12  33   83  4.067   4   12  1.200  14   19  3.750   16  ...
       2005-11-23  40   72  5.341   6    8  2.417  34   38  6.157   14  ...
       2005-11-27  28   70  2.951   0    6  0.000  19   26  5.684   12  ...
       2005-11-30  30   75  3.107   0    7  0.000  14   20  2.833   10  ...
       2005-12-02  43   78  4.400   4    9  1.250  11   15  3.100   11  ...
       2005-12-10  36   77  3.845   0    2  0.000  22   28  4.875    9  ...
       2005-12-16  43   68  6.012  12   16  1.857  24   32  5.233   11  ...
       2005-12-18  41   96  3.145  11   21  1.621  17   19  6.250   19  ...
       2005-12-23  47   87  6.210   7   16  1.833  10   17  2.614   11  ...
       2005-12-27  40   85  4.210   2   11  0.700   8   13  3.167   11  ...
       2006-01-03  31   65  4.230   2   11  1.333  33   41  4.924    5  ...
       2006-01-07  38   72  4.610   6   18  2.333  19   20  5.500    9  ...
       2006-01-10  36   80  3.689   5   13  2.250  17   21  4.250   14  ...
       2006-01-14  35   77  4.516   6   15  1.329  30   38  6.083   11  ...
       2006-01-16  39   77  3.816   4   15  1.143  12   17  4.417   14  ...
       2006-01-18  30   88  2.600   4   13  1.166  25   30  6.633   19  ...
       2006-01-20  37   89  3.481   5   19  0.500  23   33  6.350   14  ...
       2006-01-23  40   72  5.066   3   10  1.083  21   30  5.083    8  ...
       2006-01-25  38   75  5.583   5   13  1.233  16   22  4.334   11  ...
       2006-01-27  41   98  4.184   8   22  2.234  16   17  4.857   19  ...
       2006-01-30  40   84  4.429  10   17  3.683  30   36  6.500   16  ...
       2006-02-03  35   84  3.550   5   16  1.333  21   28  4.250   20  ...
       2006-02-07  41   83  4.505   5   12  1.000  12   14  4.000   13  ...
       2006-02-22  41   82  3.902   5   13  2.286  22   28  5.532   13  ...
       2006-02-25  31   70  3.349   4   17  0.819  23   32  4.292    8  ...
       2006-02-27  38   80  3.986   6   13  2.000  22   30  4.284   15  ...
       2006-03-03  34   73  3.312   6   16  1.500  19   23  5.883   10  ...
       2006-03-07  37   81  3.236  10   20  2.567  29   40  4.494   16  ...
...                ..  ...    ...  ..  ...    ...  ..  ...    ...  ...  ...
2016   2015-12-04  37   74  4.461  10   26  3.783  16   20  5.750    9  ...
       2015-12-12  30   80  4.434   5   24  1.750  13   16  4.917    7  ...
       2015-12-14  33   84  3.345   8   33  1.487  14   15  3.750    7  ...
       2015-12-16  48   78  7.224  10   21  4.667  21   24  6.107    2  ...
       2015-12-21  37   77  5.071   9   29  2.916  23   28  6.690    2  ...
       2015-12-23  43   89  3.976   6   20  2.332  15   20  5.600   10  ...
       2015-12-26  47   88  7.362   8   25  2.833  15   18  5.625   10  ...
       2016-01-05  37   87  4.477  15   39  3.471  12   19  3.500   14  ...
       2016-01-09  49   94  4.457  10   24  3.667  12   15  6.500    8  ...
       2016-01-16  44   79  6.806   8   29  2.083  18   24  6.667    5  ...
       2016-01-18  41   80  5.789   9   19  3.500   7   10  3.833    4  ...
       2016-01-27  33   79  3.424  10   23  3.450   7   14  2.733    8  ...
       2016-02-01  42   80  5.704  14   35  3.737  14   19  3.881    5  ...
       2016-02-05  39   76  4.955  10   27  2.483  14   20  2.807    3  ...
       2016-02-08  43   92  4.916  12   29  2.367  12   20  3.571    8  ...
       2016-02-19  41   87  4.704  16   36  3.333  13   13  5.000    8  ...
       2016-02-20  44  106  3.400   9   41  1.494  12   18  3.458   10  ...
       2016-02-22  36   86  3.241  10   34  2.300  10   16  3.000    8  ...
       2016-02-26  37   89  4.228   7   34  1.709  22   24  5.583   13  ...
       2016-02-28  38   77  4.979   8   17  3.500   3    5  1.167    6  ...
       2016-03-12  36   84  3.625  11   34  3.071  12   17  3.500    8  ...
       2016-03-13  40   85  5.152  15   30  5.444   9   10  4.500    9  ...
       2016-03-17  40   80  4.686  12   26  3.417  24   28  7.875    7  ...
       2016-03-19  44   88  5.053  14   38  2.793   7   12  4.000    9  ...
       2016-03-21  38   78  5.635  13   33  3.866  13   17  3.417    2  ...
       2016-03-25  41   97  4.165   5   32  1.183  14   17  4.000   17  ...
       2016-04-01  38   95  3.341   9   30  1.833  23   26  5.300    5  ...
       2016-04-05  39   95  4.494  11   34  2.495  14   19  5.000   13  ...
       2016-04-07  33   76  3.943  12   32  2.933  17   21  4.111    5  ...
       2016-04-09  46   88  4.524  17   33  3.630   9   11  4.000    5  ...

                    DRB%   TRB%   AST%  STL%  BLK%   TOV%   USG%  ORtg  DRtg  \
Season Date
2006   2005-11-08  200.7  123.8   59.5   7.9   3.3  162.0  157.3   808  1189
       2005-11-10  111.5  175.1   91.5   6.2  15.9   90.5  271.1   967  1208
       2005-11-12  135.2  102.4  131.7  14.3  19.2  201.2  205.3   953  1266
       2005-11-23  131.3   92.3  112.7   9.6  12.4  109.1  162.7  1328  1132
       2005-11-27  140.2  103.8   56.5  17.5   5.9  171.9  172.5   734   852
       2005-11-30  140.3   82.5  110.6  18.8   7.5  155.4  186.6   856  1131
       2005-12-02   89.1   69.2  107.8  10.9  14.4  119.1  167.8   899  1206
       2005-12-10  156.1  101.2   58.9  12.5   5.6   82.4  180.1   842   922
       2005-12-16   86.2   75.4  127.5  21.6  21.4  208.4  172.5  1199  1339
       2005-12-18  187.1  139.5  178.5  10.1   8.5   76.0  182.1  1106  1273
       2005-12-23  137.9  103.3  135.7   7.3  19.1  127.1  176.3  1215  1141
       2005-12-27  150.7   95.9  102.5  13.7  13.6  114.4  171.9   825   999
       2006-01-03  169.9   95.9  123.0  17.9   7.5  173.3  177.1   872  1147
       2006-01-07  128.5   96.4  116.0  22.0  10.7  166.4  168.7  1019   929
       2006-01-10  147.4   91.5  138.3  14.0  18.6  103.5  164.7   880  1120
       2006-01-14  134.1   95.3  117.1   4.5   2.0  142.4  152.7  1172  1118
       2006-01-16  102.1   88.3  124.3  11.3  26.1  101.0  155.9  1128   932
       2006-01-18   98.1   79.9  128.0   8.7   9.1   60.5  175.2   818  1217
       2006-01-20  103.5   70.7  115.0  13.3  12.6   77.8  176.3   918  1109
       2006-01-23  131.0   94.0  136.5  21.2  12.1  119.2  175.9  1102   935
       2006-01-25  145.8  110.3  156.7  13.1  23.1  151.3  222.9  1264  1330
       2006-01-27  138.6   97.4  107.2   6.7   6.7  111.3  172.8  1060  1028
       2006-01-30  138.9  111.0   94.0  19.2  16.7   97.5  204.7  1349  1219
       2006-02-03   91.3   74.8  140.6   8.5  14.9  134.0  198.0  1044  1162
       2006-02-07  147.0  111.7  111.8   9.5   5.0  117.8  177.2  1017  1043
       2006-02-22  152.6  108.5  153.9  17.5  10.8   77.0  167.0  1091  1219
       2006-02-25   99.9   67.7  105.3   8.0   8.8  183.2  144.2   766   910
       2006-02-27  137.4  112.7  105.4   4.2  16.6  158.4  177.6   972  1025
       2006-03-03  109.2   98.6   90.0  12.5   7.1  211.4  171.9  1040  1180
       2006-03-07  140.2   96.4  100.2  13.4  30.8  103.7  176.8   817   969
...                  ...    ...    ...   ...   ...    ...    ...   ...   ...
2016   2015-12-04  126.5   97.6  154.7  20.1  28.9  254.6  197.7  1015   998
       2015-12-12  193.0   96.1  221.7  35.6  10.6  199.7  255.2   931  1399
       2015-12-14  125.6   78.8  182.1  12.0  10.6  148.3  187.5   846  1079
       2015-12-16  173.4  102.0  214.6  28.0  31.7  135.3  256.3  1541  1428
       2015-12-21  146.9   83.0  162.2  17.3   3.7   89.1  211.1  1145  1136
       2015-12-23  156.2  102.4  144.8  12.5  10.8  101.2  192.5   939  1007
       2015-12-26  210.0  137.4  201.4  24.6  12.0  167.7  248.7  1682  1365
       2016-01-05  141.8   91.0  128.3   5.7  15.6   83.9  185.1  1164  1189
       2016-01-09  179.7  109.5  176.1  36.6  32.0  185.8  249.2  1244  1218
       2016-01-16  208.9  130.7  250.4  33.3  19.3   95.3  261.6  1481  1205
       2016-01-18  214.2  139.3  245.2  19.2  18.4  179.0  261.2  1222  1116
       2016-01-27  175.9  108.9  142.4   9.8   7.4  157.1  183.4   759   894
       2016-02-01  218.1  151.1  205.6   4.9  20.4  224.6  261.5  1286  1313
       2016-02-05  120.6   74.2  185.4  19.0  14.7  125.0  181.5  1070  1044
       2016-02-08  129.3   81.8  171.6  12.3  20.0  133.5  206.2  1009  1102
       2016-02-19  151.1   97.9  163.1  12.4   9.0  181.1  196.5   948  1118
       2016-02-20  145.6   85.2  174.2  16.7  21.9  104.4  187.3   780  1007
       2016-02-22  196.2  111.9  197.3  10.2  20.8  152.3  183.8   727  1039
       2016-02-26  134.2  102.4  185.7  35.6  26.4   90.9  219.6  1097  1019
       2016-02-28  155.4  106.0  187.3  11.5  22.0  168.7  203.0   990   885
       2016-03-12  127.2   90.2  179.9  20.6  27.1  142.3  248.5   928  1098
       2016-03-13  205.3  141.4  193.3  25.4  19.0  200.4  235.5  1287   954
       2016-03-17  151.6  121.1  235.7  10.5  22.8  192.2  229.3  1319  1135
       2016-03-19  137.1   88.4  181.5  28.8  18.4  113.6  228.9  1157  1219
       2016-03-21  183.4   99.8  127.7   7.4  15.9  124.3  297.3  1195  1342
       2016-03-25  120.7   90.2  153.5  22.4  15.5   63.6  206.2  1113   984
       2016-04-01  136.6   79.1  140.3   8.2  22.5  127.2  195.4   782   999
       2016-04-05  137.8   85.8  155.7  26.8   8.1  122.4  200.4  1066   883
       2016-04-07  162.6   94.6  169.4   6.5  29.5   92.8  214.0   949  1067
       2016-04-09  131.3  152.1  165.2  20.0  23.1  144.5  186.6  1322  1162

                      SP
Season Date
2006   2005-11-08  14400
       2005-11-10  14401
       2005-11-12  14400
       2005-11-23  14401
       2005-11-27  14400
       2005-11-30  14400
       2005-12-02  14400
       2005-12-10  14400
       2005-12-16  14400
       2005-12-18  15899
       2005-12-23  14401
       2005-12-27  14400
       2006-01-03  14400
       2006-01-07  14400
       2006-01-10  14401
       2006-01-14  15900
       2006-01-16  14400
       2006-01-18  14400
       2006-01-20  14400
       2006-01-23  14400
       2006-01-25  14400
       2006-01-27  14400
       2006-01-30  14400
       2006-02-03  14401
       2006-02-07  14400
       2006-02-22  14401
       2006-02-25  14400
       2006-02-27  15901
       2006-03-03  14401
       2006-03-07  14400
...                  ...
2016   2015-12-04  14400
       2015-12-12  14400
       2015-12-14  14400
       2015-12-16  14400
       2015-12-21  14400
       2015-12-23  14400
       2015-12-26  14400
       2016-01-05  14400
       2016-01-09  14400
       2016-01-16  14399
       2016-01-18  14399
       2016-01-27  14400
       2016-02-01  14399
       2016-02-05  14400
       2016-02-08  15900
       2016-02-19  14401
       2016-02-20  17400
       2016-02-22  14402
       2016-02-26  14400
       2016-02-28  14400
       2016-03-12  14400
       2016-03-13  14400
       2016-03-17  14400
       2016-03-19  14400
       2016-03-21  14400
       2016-03-25  14399
       2016-04-01  15898
       2016-04-05  14400
       2016-04-07  14400
       2016-04-09  14400

[443 rows x 34 columns]

In [ ]:
def special_points(team=):
    special_team_home['Points'] = g['FG']*2 + g['3P'] + g['FT']

In [320]:
away = df.groupby(['Away','OneisHome','Season','Date']).sum()
away['Points'] = away['FG']*2 + away['3P'] + away['FT']

In [321]:
type(away['FG'])

pandas.core.series.Series

In [322]:
g.xs((['ATL',1]),level=['Home','OneisHome'])['FG']*2 + g.xs((['ATL',1]),level=['Home','OneisHome'])['FT']

Season  Date
2006    2005-11-08     93
        2005-11-10     94
        2005-11-12     80
        2005-11-23    114
        2005-11-27     75
        2005-11-30     74
        2005-12-02     97
        2005-12-10     94
        2005-12-16    110
        2005-12-18     99
        2005-12-23    104
        2005-12-27     88
        2006-01-03     95
        2006-01-07     95
        2006-01-10     89
        2006-01-14    100
        2006-01-16     90
        2006-01-18     85
        2006-01-20     97
        2006-01-23    101
        2006-01-25     92
        2006-01-27     98
        2006-01-30    110
        2006-02-03     91
        2006-02-07     94
        2006-02-22    104
        2006-02-25     85
        2006-02-27     98
        2006-03-03     87
        2006-03-07    103
                     ...
2016    2015-12-04     90
        2015-12-12     73
        2015-12-14     80
        2015-12-16    117
        2015-12-21     97
        2015-12-23    101
        2015-12-26    109
        2016-01-05     86
        2016-01-09    110
        2016-01-16    106
        2016-01-18     89
        2016-01-27     73
        2016-02-01     98
        2016-02-05     92
        2016-02-08     98
        2016-02-19     95
        2016-02-20    100
        2016-02-22     82
        2016-02-26     96
        2016-02-28     79
        2016-03-12     84
        2016-03-13     89
        2016-03-17    104
        2016-03-19     95
        2016-03-21     89
        2016-03-25     96
        2016-04-01     99
        2016-04-05     92
        2016-04-07     83
        2016-04-09    101
dtype: int64

In [297]:
team = 'ATL'

In [323]:
g.head()

                                  FG  FGA    FG%  3P  3PA    3P%  FT  FTA  \
Home OneisHome Season Date
ATL  0         2006   2005-11-08  38   73  4.813   7   18  2.333  20   33
                      2005-11-10  36   75  3.872   3    6  1.500  27   35
                      2005-11-12  29   72  2.882   7   23  0.929  20   26
                      2005-11-23  40   73  5.605  11   19  2.300  26   29
                      2005-11-27  32   72  4.232   3   15  0.833  10   17

                                   FT%  ORB  ...     DRB%   TRB%   AST%  STL%  \
Home OneisHome Season Date                   ...
ATL  0         2006   2005-11-08  3.14    6  ...    118.3   74.1  134.6  23.1
                      2005-11-10  5.75   10  ...    129.0  100.3  119.1  13.0
                      2005-11-12  3.80   10  ...     99.8   68.6  106.1  12.7
                      2005-11-23  4.75    5  ...    111.7   83.7  110.2  17.3
                      2005-11-27  2.50   10  ...    114.4   85.6  111.1  14.4

                                  BLK%   TOV%   USG%  ORtg  DRtg     SP
Home OneisHome Season Date
ATL  0         2006   2005-11-08  11.4  177.2  173.8   904  1150  14400
                      2005-11-10  15.1  160.9  180.8   943   898  14400
                      2005-11-12  13.4  121.1  220.5   801  1153  14400
                      2005-11-23  38.4  229.8  177.1  1132  1415  14401
                      2005-11-27  30.4  117.1  204.7   912   939  14400

[5 rows x 34 columns]

In [301]:
g.xs(([team,1]),level=['Home','OneisHome'])['FG']*2 + g.xs(([team,1]),level=['Home','OneisHome'])['3P'] + g.xs(([team,1]),level=['Home','OneisHome'])['FT']*free_throw

Date        Season
2005-11-08  2006       98.9
2005-11-10  2006       97.0
2005-11-12  2006       85.4
2005-11-23  2006      123.4
2005-11-27  2006       76.9
2005-11-30  2006       75.4
2005-12-02  2006      102.1
2005-12-10  2006       96.2
2005-12-16  2006      124.4
2005-12-18  2006      111.7
2005-12-23  2006      112.0
2005-12-27  2006       90.8
2006-01-03  2006      100.3
2006-01-07  2006      102.9
2006-01-10  2006       95.7
2006-01-14  2006      109.0
2006-01-16  2006       95.2
2006-01-18  2006       91.5
2006-01-20  2006      104.3
2006-01-23  2006      106.1
2006-01-25  2006       98.6
2006-01-27  2006      107.6
2006-01-30  2006      123.0
2006-02-03  2006       98.1
2006-02-07  2006      100.2
2006-02-22  2006      111.2
2006-02-25  2006       91.3
2006-02-27  2006      106.2
2006-03-03  2006       94.9
2006-03-07  2006      115.9
                      ...
2015-12-04  2016      101.6
2015-12-12  2016       79.3
2015-12-14  2016       89.4
2015-12-16  2016      129.1
2015-12-21  2016      108.3
2015-12-23  2016      108.5
2015-12-26  2016      118.5
2016-01-05  2016      102.2
2016-01-09  2016      121.2
2016-01-16  2016      115.8
2016-01-18  2016       98.7
2016-01-27  2016       83.7
2016-02-01  2016      113.4
2016-02-05  2016      103.4
2016-02-08  2016      111.2
2016-02-19  2016      112.3
2016-02-20  2016      110.2
2016-02-22  2016       93.0
2016-02-26  2016      105.2
2016-02-28  2016       87.3
2016-03-12  2016       96.2
2016-03-13  2016      104.9
2016-03-17  2016      118.4
2016-03-19  2016      109.7
2016-03-21  2016      103.3
2016-03-25  2016      102.4
2016-04-01  2016      110.3
2016-04-05  2016      104.4
2016-04-07  2016       96.7
2016-04-09  2016      118.9
dtype: float64

In [ ]:
df.loc[('bar','one'),'A']

In [325]:
g.head()

                                  FG  FGA    FG%  3P  3PA    3P%  FT  FTA  \
Home OneisHome Season Date
ATL  0         2006   2005-11-08  38   73  4.813   7   18  2.333  20   33
                      2005-11-10  36   75  3.872   3    6  1.500  27   35
                      2005-11-12  29   72  2.882   7   23  0.929  20   26
                      2005-11-23  40   73  5.605  11   19  2.300  26   29
                      2005-11-27  32   72  4.232   3   15  0.833  10   17

                                   FT%  ORB  ...     DRB%   TRB%   AST%  STL%  \
Home OneisHome Season Date                   ...
ATL  0         2006   2005-11-08  3.14    6  ...    118.3   74.1  134.6  23.1
                      2005-11-10  5.75   10  ...    129.0  100.3  119.1  13.0
                      2005-11-12  3.80   10  ...     99.8   68.6  106.1  12.7
                      2005-11-23  4.75    5  ...    111.7   83.7  110.2  17.3
                      2005-11-27  2.50   10  ...    114.4   85.6  111.1  14.4

                                  BLK%   TOV%   USG%  ORtg  DRtg     SP
Home OneisHome Season Date
ATL  0         2006   2005-11-08  11.4  177.2  173.8   904  1150  14400
                      2005-11-10  15.1  160.9  180.8   943   898  14400
                      2005-11-12  13.4  121.1  220.5   801  1153  14400
                      2005-11-23  38.4  229.8  177.1  1132  1415  14401
                      2005-11-27  30.4  117.1  204.7   912   939  14400

[5 rows x 34 columns]

In [327]:
g['Points'] = g['FG']*2 + g['3P'] + g['FT']

In [328]:
g.loc[(team, 1),'Points']

Season  Date
2006    2005-11-08     97
        2005-11-10     95
        2005-11-12     84
        2005-11-23    120
        2005-11-27     75
        2005-11-30     74
        2005-12-02    101
        2005-12-10     94
        2005-12-16    122
        2005-12-18    110
        2005-12-23    111
        2005-12-27     90
        2006-01-03     97
        2006-01-07    101
        2006-01-10     94
        2006-01-14    106
        2006-01-16     94
        2006-01-18     89
        2006-01-20    102
        2006-01-23    104
        2006-01-25     97
        2006-01-27    106
        2006-01-30    120
        2006-02-03     96
        2006-02-07     99
        2006-02-22    109
        2006-02-25     89
        2006-02-27    104
        2006-03-03     93
        2006-03-07    113
                     ...
2016    2015-12-04    100
        2015-12-12     78
        2015-12-14     88
        2015-12-16    127
        2015-12-21    106
        2015-12-23    107
        2015-12-26    117
        2016-01-05    101
        2016-01-09    120
        2016-01-16    114
        2016-01-18     98
        2016-01-27     83
        2016-02-01    112
        2016-02-05    102
        2016-02-08    110
        2016-02-19    111
        2016-02-20    109
        2016-02-22     92
        2016-02-26    103
        2016-02-28     87
        2016-03-12     95
        2016-03-13    104
        2016-03-17    116
        2016-03-19    109
        2016-03-21    102
        2016-03-25    101
        2016-04-01    108
        2016-04-05    103
        2016-04-07     95
        2016-04-09    118
Name: Points, dtype: int64

In [343]:
## screws up home
team = 'ATL'
free_throw = 1.1
g.loc[(team,1),'Points'] = (g.xs(([team,1]),level=['Home','OneisHome'])['FG']*2 + g.xs(([team,1]),level=\
                            ['Home','OneisHome'])['3P']+ g.xs(([team,1]),level=['Home','OneisHome'])['FT']\
                            +g.xs(([team,1]),level=['Home','OneisHome'])['FTA']*(free_throw-1)).values

In [407]:
away.loc[(team,0),'Points'] = (away.xs(([team,0]),level=['Away','OneisHome'])['FG']*2 + away.xs(([team,0]),level=\
                            ['Away','OneisHome'])['3P'] + away.xs(([team,0]),level=['Away','OneisHome'])['FT']+\
                            away.xs(([team,0]),level=['Away','OneisHome'])['FTA']*(free_throw-1)).values

In [408]:
away.loc[(team,0),'Points']

Season  Date
2006    2005-11-02     99.1
        2005-11-04     80.4
        2005-11-05     95.3
        2005-11-15     81.4
        2005-11-17     80.8
        2005-11-18     94.4
        2005-11-25     89.6
        2005-11-29     88.4
        2005-12-04     97.3
        2005-12-06    118.7
        2005-12-07     86.1
        2005-12-13    104.1
        2005-12-14    102.8
        2005-12-20     95.4
        2005-12-28    103.6
        2005-12-30     93.4
        2006-01-06    105.5
        2006-01-11     74.6
        2006-01-13     96.6
        2006-01-28    101.0
        2006-02-01    106.1
        2006-02-04     89.5
        2006-02-10     93.1
        2006-02-12     86.1
        2006-02-15    117.1
        2006-02-21     89.0
        2006-02-24    119.8
        2006-03-01    115.4
        2006-03-04     95.8
        2006-03-13     89.1
                      ...
2016    2015-12-10     96.3
        2015-12-18    111.9
        2015-12-20    105.0
        2015-12-28     89.5
        2015-12-29    123.5
        2016-01-03     99.0
        2016-01-07    127.9
        2016-01-13     86.1
        2016-01-15    101.6
        2016-01-20    106.3
        2016-01-21     89.5
        2016-01-23     96.8
        2016-01-25    121.6
        2016-01-28     94.1
        2016-01-31     90.2
        2016-02-03    126.5
        2016-02-07     95.5
        2016-02-10    114.5
        2016-03-01    107.4
        2016-03-04    108.6
        2016-03-05    109.0
        2016-03-08     92.4
        2016-03-10     98.7
        2016-03-16    121.4
        2016-03-23    124.2
        2016-03-26    113.4
        2016-03-28    104.8
        2016-03-30     98.3
        2016-04-11     95.5
        2016-04-13    101.1
Name: Points, dtype: float64

In [349]:
g.loc[(team,1),'Points']

Season  Date
2006    2005-11-08     99.6
        2005-11-10     97.7
        2005-11-12     85.9
        2005-11-23    123.8
        2005-11-27     77.6
        2005-11-30     76.0
        2005-12-02    102.5
        2005-12-10     96.8
        2005-12-16    125.2
        2005-12-18    111.9
        2005-12-23    112.7
        2005-12-27     91.3
        2006-01-03    101.1
        2006-01-07    103.0
        2006-01-10     96.1
        2006-01-14    109.8
        2006-01-16     95.7
        2006-01-18     92.0
        2006-01-20    105.3
        2006-01-23    107.0
        2006-01-25     99.2
        2006-01-27    107.7
        2006-01-30    123.6
        2006-02-03     98.8
        2006-02-07    100.4
        2006-02-22    111.8
        2006-02-25     92.2
        2006-02-27    107.0
        2006-03-03     95.3
        2006-03-07    117.0
                      ...
2016    2015-12-04    102.0
        2015-12-12     79.6
        2015-12-14     89.5
        2015-12-16    129.4
        2015-12-21    108.8
        2015-12-23    109.0
        2015-12-26    118.8
        2016-01-05    102.9
        2016-01-09    121.5
        2016-01-16    116.4
        2016-01-18     99.0
        2016-01-27     84.4
        2016-02-01    113.9
        2016-02-05    104.0
        2016-02-08    112.0
        2016-02-19    112.3
        2016-02-20    110.8
        2016-02-22     93.6
        2016-02-26    105.4
        2016-02-28     87.5
        2016-03-12     96.7
        2016-03-13    105.0
        2016-03-17    118.8
        2016-03-19    110.2
        2016-03-21    103.7
        2016-03-25    102.7
        2016-04-01    110.6
        2016-04-05    104.9
        2016-04-07     97.1
        2016-04-09    119.1
Name: Points, dtype: float64

In [345]:
g.xs([team,1],level=['Home','OneisHome'])

                   FG  FGA    FG%  3P  3PA    3P%  FT  FTA    FT%  ORB  \
Season Date
2006   2005-11-08  37   75  3.946   4   15  1.200  19   26  5.871    9
       2005-11-10  37   91  4.014   1    9  0.200  20   27  4.467   17
       2005-11-12  33   83  4.067   4   12  1.200  14   19  3.750   16
       2005-11-23  40   72  5.341   6    8  2.417  34   38  6.157   14
       2005-11-27  28   70  2.951   0    6  0.000  19   26  5.684   12
       2005-11-30  30   75  3.107   0    7  0.000  14   20  2.833   10
       2005-12-02  43   78  4.400   4    9  1.250  11   15  3.100   11
       2005-12-10  36   77  3.845   0    2  0.000  22   28  4.875    9
       2005-12-16  43   68  6.012  12   16  1.857  24   32  5.233   11
       2005-12-18  41   96  3.145  11   21  1.621  17   19  6.250   19
       2005-12-23  47   87  6.210   7   16  1.833  10   17  2.614   11
       2005-12-27  40   85  4.210   2   11  0.700   8   13  3.167   11
       2006-01-03  31   65  4.230   2   11  1.333  33   41  4.924    5
       2006-01-07  38   72  4.610   6   18  2.333  19   20  5.500    9
       2006-01-10  36   80  3.689   5   13  2.250  17   21  4.250   14
       2006-01-14  35   77  4.516   6   15  1.329  30   38  6.083   11
       2006-01-16  39   77  3.816   4   15  1.143  12   17  4.417   14
       2006-01-18  30   88  2.600   4   13  1.166  25   30  6.633   19
       2006-01-20  37   89  3.481   5   19  0.500  23   33  6.350   14
       2006-01-23  40   72  5.066   3   10  1.083  21   30  5.083    8
       2006-01-25  38   75  5.583   5   13  1.233  16   22  4.334   11
       2006-01-27  41   98  4.184   8   22  2.234  16   17  4.857   19
       2006-01-30  40   84  4.429  10   17  3.683  30   36  6.500   16
       2006-02-03  35   84  3.550   5   16  1.333  21   28  4.250   20
       2006-02-07  41   83  4.505   5   12  1.000  12   14  4.000   13
       2006-02-22  41   82  3.902   5   13  2.286  22   28  5.532   13
       2006-02-25  31   70  3.349   4   17  0.819  23   32  4.292    8
       2006-02-27  38   80  3.986   6   13  2.000  22   30  4.284   15
       2006-03-03  34   73  3.312   6   16  1.500  19   23  5.883   10
       2006-03-07  37   81  3.236  10   20  2.567  29   40  4.494   16
...                ..  ...    ...  ..  ...    ...  ..  ...    ...  ...
2016   2015-12-04  37   74  4.461  10   26  3.783  16   20  5.750    9
       2015-12-12  30   80  4.434   5   24  1.750  13   16  4.917    7
       2015-12-14  33   84  3.345   8   33  1.487  14   15  3.750    7
       2015-12-16  48   78  7.224  10   21  4.667  21   24  6.107    2
       2015-12-21  37   77  5.071   9   29  2.916  23   28  6.690    2
       2015-12-23  43   89  3.976   6   20  2.332  15   20  5.600   10
       2015-12-26  47   88  7.362   8   25  2.833  15   18  5.625   10
       2016-01-05  37   87  4.477  15   39  3.471  12   19  3.500   14
       2016-01-09  49   94  4.457  10   24  3.667  12   15  6.500    8
       2016-01-16  44   79  6.806   8   29  2.083  18   24  6.667    5
       2016-01-18  41   80  5.789   9   19  3.500   7   10  3.833    4
       2016-01-27  33   79  3.424  10   23  3.450   7   14  2.733    8
       2016-02-01  42   80  5.704  14   35  3.737  14   19  3.881    5
       2016-02-05  39   76  4.955  10   27  2.483  14   20  2.807    3
       2016-02-08  43   92  4.916  12   29  2.367  12   20  3.571    8
       2016-02-19  41   87  4.704  16   36  3.333  13   13  5.000    8
       2016-02-20  44  106  3.400   9   41  1.494  12   18  3.458   10
       2016-02-22  36   86  3.241  10   34  2.300  10   16  3.000    8
       2016-02-26  37   89  4.228   7   34  1.709  22   24  5.583   13
       2016-02-28  38   77  4.979   8   17  3.500   3    5  1.167    6
       2016-03-12  36   84  3.625  11   34  3.071  12   17  3.500    8
       2016-03-13  40   85  5.152  15   30  5.444   9   10  4.500    9
       2016-03-17  40   80  4.686  12   26  3.417  24   28  7.875    7
       2016-03-19  44   88  5.053  14   38  2.793   7   12  4.000    9
       2016-03-21  38   78  5.635  13   33  3.866  13   17  3.417    2
       2016-03-25  41   97  4.165   5   32  1.183  14   17  4.000   17
       2016-04-01  38   95  3.341   9   30  1.833  23   26  5.300    5
       2016-04-05  39   95  4.494  11   34  2.495  14   19  5.000   13
       2016-04-07  33   76  3.943  12   32  2.933  17   21  4.111    5
       2016-04-09  46   88  4.524  17   33  3.630   9   11  4.000    5

                    ...     TRB%   AST%  STL%  BLK%   TOV%   USG%  ORtg  DRtg  \
Season Date         ...
2006   2005-11-08   ...    123.8   59.5   7.9   3.3  162.0  157.3   808  1189
       2005-11-10   ...    175.1   91.5   6.2  15.9   90.5  271.1   967  1208
       2005-11-12   ...    102.4  131.7  14.3  19.2  201.2  205.3   953  1266
       2005-11-23   ...     92.3  112.7   9.6  12.4  109.1  162.7  1328  1132
       2005-11-27   ...    103.8   56.5  17.5   5.9  171.9  172.5   734   852
       2005-11-30   ...     82.5  110.6  18.8   7.5  155.4  186.6   856  1131
       2005-12-02   ...     69.2  107.8  10.9  14.4  119.1  167.8   899  1206
       2005-12-10   ...    101.2   58.9  12.5   5.6   82.4  180.1   842   922
       2005-12-16   ...     75.4  127.5  21.6  21.4  208.4  172.5  1199  1339
       2005-12-18   ...    139.5  178.5  10.1   8.5   76.0  182.1  1106  1273
       2005-12-23   ...    103.3  135.7   7.3  19.1  127.1  176.3  1215  1141
       2005-12-27   ...     95.9  102.5  13.7  13.6  114.4  171.9   825   999
       2006-01-03   ...     95.9  123.0  17.9   7.5  173.3  177.1   872  1147
       2006-01-07   ...     96.4  116.0  22.0  10.7  166.4  168.7  1019   929
       2006-01-10   ...     91.5  138.3  14.0  18.6  103.5  164.7   880  1120
       2006-01-14   ...     95.3  117.1   4.5   2.0  142.4  152.7  1172  1118
       2006-01-16   ...     88.3  124.3  11.3  26.1  101.0  155.9  1128   932
       2006-01-18   ...     79.9  128.0   8.7   9.1   60.5  175.2   818  1217
       2006-01-20   ...     70.7  115.0  13.3  12.6   77.8  176.3   918  1109
       2006-01-23   ...     94.0  136.5  21.2  12.1  119.2  175.9  1102   935
       2006-01-25   ...    110.3  156.7  13.1  23.1  151.3  222.9  1264  1330
       2006-01-27   ...     97.4  107.2   6.7   6.7  111.3  172.8  1060  1028
       2006-01-30   ...    111.0   94.0  19.2  16.7   97.5  204.7  1349  1219
       2006-02-03   ...     74.8  140.6   8.5  14.9  134.0  198.0  1044  1162
       2006-02-07   ...    111.7  111.8   9.5   5.0  117.8  177.2  1017  1043
       2006-02-22   ...    108.5  153.9  17.5  10.8   77.0  167.0  1091  1219
       2006-02-25   ...     67.7  105.3   8.0   8.8  183.2  144.2   766   910
       2006-02-27   ...    112.7  105.4   4.2  16.6  158.4  177.6   972  1025
       2006-03-03   ...     98.6   90.0  12.5   7.1  211.4  171.9  1040  1180
       2006-03-07   ...     96.4  100.2  13.4  30.8  103.7  176.8   817   969
...                 ...      ...    ...   ...   ...    ...    ...   ...   ...
2016   2015-12-04   ...     97.6  154.7  20.1  28.9  254.6  197.7  1015   998
       2015-12-12   ...     96.1  221.7  35.6  10.6  199.7  255.2   931  1399
       2015-12-14   ...     78.8  182.1  12.0  10.6  148.3  187.5   846  1079
       2015-12-16   ...    102.0  214.6  28.0  31.7  135.3  256.3  1541  1428
       2015-12-21   ...     83.0  162.2  17.3   3.7   89.1  211.1  1145  1136
       2015-12-23   ...    102.4  144.8  12.5  10.8  101.2  192.5   939  1007
       2015-12-26   ...    137.4  201.4  24.6  12.0  167.7  248.7  1682  1365
       2016-01-05   ...     91.0  128.3   5.7  15.6   83.9  185.1  1164  1189
       2016-01-09   ...    109.5  176.1  36.6  32.0  185.8  249.2  1244  1218
       2016-01-16   ...    130.7  250.4  33.3  19.3   95.3  261.6  1481  1205
       2016-01-18   ...    139.3  245.2  19.2  18.4  179.0  261.2  1222  1116
       2016-01-27   ...    108.9  142.4   9.8   7.4  157.1  183.4   759   894
       2016-02-01   ...    151.1  205.6   4.9  20.4  224.6  261.5  1286  1313
       2016-02-05   ...     74.2  185.4  19.0  14.7  125.0  181.5  1070  1044
       2016-02-08   ...     81.8  171.6  12.3  20.0  133.5  206.2  1009  1102
       2016-02-19   ...     97.9  163.1  12.4   9.0  181.1  196.5   948  1118
       2016-02-20   ...     85.2  174.2  16.7  21.9  104.4  187.3   780  1007
       2016-02-22   ...    111.9  197.3  10.2  20.8  152.3  183.8   727  1039
       2016-02-26   ...    102.4  185.7  35.6  26.4   90.9  219.6  1097  1019
       2016-02-28   ...    106.0  187.3  11.5  22.0  168.7  203.0   990   885
       2016-03-12   ...     90.2  179.9  20.6  27.1  142.3  248.5   928  1098
       2016-03-13   ...    141.4  193.3  25.4  19.0  200.4  235.5  1287   954
       2016-03-17   ...    121.1  235.7  10.5  22.8  192.2  229.3  1319  1135
       2016-03-19   ...     88.4  181.5  28.8  18.4  113.6  228.9  1157  1219
       2016-03-21   ...     99.8  127.7   7.4  15.9  124.3  297.3  1195  1342
       2016-03-25   ...     90.2  153.5  22.4  15.5   63.6  206.2  1113   984
       2016-04-01   ...     79.1  140.3   8.2  22.5  127.2  195.4   782   999
       2016-04-05   ...     85.8  155.7  26.8   8.1  122.4  200.4  1066   883
       2016-04-07   ...     94.6  169.4   6.5  29.5   92.8  214.0   949  1067
       2016-04-09   ...    152.1  165.2  20.0  23.1  144.5  186.6  1322  1162

                      SP  Points
Season Date
2006   2005-11-08  14400    99.6
       2005-11-10  14401    97.7
       2005-11-12  14400    85.9
       2005-11-23  14401   123.8
       2005-11-27  14400    77.6
       2005-11-30  14400    76.0
       2005-12-02  14400   102.5
       2005-12-10  14400    96.8
       2005-12-16  14400   125.2
       2005-12-18  15899   111.9
       2005-12-23  14401   112.7
       2005-12-27  14400    91.3
       2006-01-03  14400   101.1
       2006-01-07  14400   103.0
       2006-01-10  14401    96.1
       2006-01-14  15900   109.8
       2006-01-16  14400    95.7
       2006-01-18  14400    92.0
       2006-01-20  14400   105.3
       2006-01-23  14400   107.0
       2006-01-25  14400    99.2
       2006-01-27  14400   107.7
       2006-01-30  14400   123.6
       2006-02-03  14401    98.8
       2006-02-07  14400   100.4
       2006-02-22  14401   111.8
       2006-02-25  14400    92.2
       2006-02-27  15901   107.0
       2006-03-03  14401    95.3
       2006-03-07  14400   117.0
...                  ...     ...
2016   2015-12-04  14400   102.0
       2015-12-12  14400    79.6
       2015-12-14  14400    89.5
       2015-12-16  14400   129.4
       2015-12-21  14400   108.8
       2015-12-23  14400   109.0
       2015-12-26  14400   118.8
       2016-01-05  14400   102.9
       2016-01-09  14400   121.5
       2016-01-16  14399   116.4
       2016-01-18  14399    99.0
       2016-01-27  14400    84.4
       2016-02-01  14399   113.9
       2016-02-05  14400   104.0
       2016-02-08  15900   112.0
       2016-02-19  14401   112.3
       2016-02-20  17400   110.8
       2016-02-22  14402    93.6
       2016-02-26  14400   105.4
       2016-02-28  14400    87.5
       2016-03-12  14400    96.7
       2016-03-13  14400   105.0
       2016-03-17  14400   118.8
       2016-03-19  14400   110.2
       2016-03-21  14400   103.7
       2016-03-25  14399   102.7
       2016-04-01  15898   110.6
       2016-04-05  14400   104.9
       2016-04-07  14400    97.1
       2016-04-09  14400   119.1

[443 rows x 35 columns]

In [227]:
g.xs((1), level=('OneisHome'))

                        FG  FGA    FG%  3P  3PA    3P%  FT  FTA    FT%  ORB  \
Home Date       Season
ATL  2005-11-08 2006    37   75  3.946   4   15  1.200  19   26  5.871    9
     2005-11-10 2006    37   91  4.014   1    9  0.200  20   27  4.467   17
     2005-11-12 2006    33   83  4.067   4   12  1.200  14   19  3.750   16
     2005-11-23 2006    40   72  5.341   6    8  2.417  34   38  6.157   14
     2005-11-27 2006    28   70  2.951   0    6  0.000  19   26  5.684   12
     2005-11-30 2006    30   75  3.107   0    7  0.000  14   20  2.833   10
     2005-12-02 2006    43   78  4.400   4    9  1.250  11   15  3.100   11
     2005-12-10 2006    36   77  3.845   0    2  0.000  22   28  4.875    9
     2005-12-16 2006    43   68  6.012  12   16  1.857  24   32  5.233   11
     2005-12-18 2006    41   96  3.145  11   21  1.621  17   19  6.250   19
     2005-12-23 2006    47   87  6.210   7   16  1.833  10   17  2.614   11
     2005-12-27 2006    40   85  4.210   2   11  0.700   8   13  3.167   11
     2006-01-03 2006    31   65  4.230   2   11  1.333  33   41  4.924    5
     2006-01-07 2006    38   72  4.610   6   18  2.333  19   20  5.500    9
     2006-01-10 2006    36   80  3.689   5   13  2.250  17   21  4.250   14
     2006-01-14 2006    35   77  4.516   6   15  1.329  30   38  6.083   11
     2006-01-16 2006    39   77  3.816   4   15  1.143  12   17  4.417   14
     2006-01-18 2006    30   88  2.600   4   13  1.166  25   30  6.633   19
     2006-01-20 2006    37   89  3.481   5   19  0.500  23   33  6.350   14
     2006-01-23 2006    40   72  5.066   3   10  1.083  21   30  5.083    8
     2006-01-25 2006    38   75  5.583   5   13  1.233  16   22  4.334   11
     2006-01-27 2006    41   98  4.184   8   22  2.234  16   17  4.857   19
     2006-01-30 2006    40   84  4.429  10   17  3.683  30   36  6.500   16
     2006-02-03 2006    35   84  3.550   5   16  1.333  21   28  4.250   20
     2006-02-07 2006    41   83  4.505   5   12  1.000  12   14  4.000   13
     2006-02-22 2006    41   82  3.902   5   13  2.286  22   28  5.532   13
     2006-02-25 2006    31   70  3.349   4   17  0.819  23   32  4.292    8
     2006-02-27 2006    38   80  3.986   6   13  2.000  22   30  4.284   15
     2006-03-03 2006    34   73  3.312   6   16  1.500  19   23  5.883   10
     2006-03-07 2006    37   81  3.236  10   20  2.567  29   40  4.494   16
...                     ..  ...    ...  ..  ...    ...  ..  ...    ...  ...
WAS  2015-12-19 2016    40   79  4.177   9   20  2.667  20   23  6.547    5
     2015-12-21 2016    42   83  3.604  14   24  3.433  15   17  5.250    4
     2015-12-23 2016    37   82  4.380  11   25  3.286  15   19  4.933   12
     2015-12-28 2016    34   87  2.978   7   24  1.886  16   24  5.238   13
     2016-01-01 2016    43   92  3.916   8   26  2.783   9   10  3.500   12
     2016-01-03 2016    31   91  3.176   4   30  0.617   9   13  2.714   11
     2016-01-06 2016    42   76  6.092  14   24  4.433  17   27  5.184    5
     2016-01-08 2016    33   84  3.837   8   25  2.732  14   15  5.500    7
     2016-01-13 2016    38   84  5.348  12   27  4.083  18   24  5.084    9
     2016-01-16 2016    40   89  3.459   6   22  2.283  31   36  5.953   14
     2016-01-18 2016    37   77  4.358   9   21  2.033  15   20  4.250    4
     2016-01-20 2016    45   86  6.163   5   16  3.533  11   13  4.250   11
     2016-01-25 2016    32   75  5.215   7   24  2.167  20   30  4.833    5
     2016-01-28 2016    39   88  3.899  11   28  2.286  24   30  7.000   12
     2016-02-03 2016    46   91  4.385   8   23  3.343  21   30  6.017    4
     2016-02-05 2016    44   84  4.569   6   22  1.467  12   20  4.667    9
     2016-02-18 2016    42   86  4.664   7   18  1.999  12   21  3.800    6
     2016-02-19 2016    36   78  3.996   7   22  1.536  19   26  5.750    8
     2016-02-23 2016    43   94  4.963  12   26  3.100  11   17  4.100    7
     2016-02-28 2016    39   79  5.877  11   31  3.150  24   34  5.639    6
     2016-02-29 2016    43   89  4.517   6   20  1.833  24   31  5.550   14
     2016-03-05 2016    39   89  4.527   6   15  2.750  15   24  4.083   14
     2016-03-14 2016    51   90  7.811   8   18  3.900  14   18  4.300    5
     2016-03-16 2016    43   88  5.145  13   21  4.083  18   24  4.833    9
     2016-03-19 2016    39   87  4.937   8   29  2.513  13   17  4.000    8
     2016-03-23 2016    39   92  3.803  12   30  2.583  11   12  3.800   10
     2016-03-25 2016    50  100  4.886  13   29  3.400  16   23  4.625   13
     2016-04-06 2016    48   95  4.996   8   28  2.013  17   20  6.000   16
     2016-04-10 2016    42   80  6.514   9   21  4.983  20   28  5.107    4
     2016-04-13 2016    42   88  4.452   9   28  2.266  16   30  6.267   11

                         ...     TRB%   AST%  STL%  BLK%   TOV%   USG%  ORtg  \
Home Date       Season   ...
ATL  2005-11-08 2006     ...    123.8   59.5   7.9   3.3  162.0  157.3   808
     2005-11-10 2006     ...    175.1   91.5   6.2  15.9   90.5  271.1   967
     2005-11-12 2006     ...    102.4  131.7  14.3  19.2  201.2  205.3   953
     2005-11-23 2006     ...     92.3  112.7   9.6  12.4  109.1  162.7  1328
     2005-11-27 2006     ...    103.8   56.5  17.5   5.9  171.9  172.5   734
     2005-11-30 2006     ...     82.5  110.6  18.8   7.5  155.4  186.6   856
     2005-12-02 2006     ...     69.2  107.8  10.9  14.4  119.1  167.8   899
     2005-12-10 2006     ...    101.2   58.9  12.5   5.6   82.4  180.1   842
     2005-12-16 2006     ...     75.4  127.5  21.6  21.4  208.4  172.5  1199
     2005-12-18 2006     ...    139.5  178.5  10.1   8.5   76.0  182.1  1106
     2005-12-23 2006     ...    103.3  135.7   7.3  19.1  127.1  176.3  1215
     2005-12-27 2006     ...     95.9  102.5  13.7  13.6  114.4  171.9   825
     2006-01-03 2006     ...     95.9  123.0  17.9   7.5  173.3  177.1   872
     2006-01-07 2006     ...     96.4  116.0  22.0  10.7  166.4  168.7  1019
     2006-01-10 2006     ...     91.5  138.3  14.0  18.6  103.5  164.7   880
     2006-01-14 2006     ...     95.3  117.1   4.5   2.0  142.4  152.7  1172
     2006-01-16 2006     ...     88.3  124.3  11.3  26.1  101.0  155.9  1128
     2006-01-18 2006     ...     79.9  128.0   8.7   9.1   60.5  175.2   818
     2006-01-20 2006     ...     70.7  115.0  13.3  12.6   77.8  176.3   918
     2006-01-23 2006     ...     94.0  136.5  21.2  12.1  119.2  175.9  1102
     2006-01-25 2006     ...    110.3  156.7  13.1  23.1  151.3  222.9  1264
     2006-01-27 2006     ...     97.4  107.2   6.7   6.7  111.3  172.8  1060
     2006-01-30 2006     ...    111.0   94.0  19.2  16.7   97.5  204.7  1349
     2006-02-03 2006     ...     74.8  140.6   8.5  14.9  134.0  198.0  1044
     2006-02-07 2006     ...    111.7  111.8   9.5   5.0  117.8  177.2  1017
     2006-02-22 2006     ...    108.5  153.9  17.5  10.8   77.0  167.0  1091
     2006-02-25 2006     ...     67.7  105.3   8.0   8.8  183.2  144.2   766
     2006-02-27 2006     ...    112.7  105.4   4.2  16.6  158.4  177.6   972
     2006-03-03 2006     ...     98.6   90.0  12.5   7.1  211.4  171.9  1040
     2006-03-07 2006     ...     96.4  100.2  13.4  30.8  103.7  176.8   817
...                      ...      ...    ...   ...   ...    ...    ...   ...
WAS  2015-12-19 2016     ...     70.1  115.3  14.6   9.7   62.6  147.7   984
     2015-12-21 2016     ...     61.5  110.2  11.4  11.7   73.1  142.3   862
     2015-12-23 2016     ...     94.5  125.2   9.7   7.4  121.6  176.3  1037
     2015-12-28 2016     ...    114.6  120.0  17.6  29.4  216.4  191.4   773
     2016-01-01 2016     ...    100.8  105.3  17.1  29.2   48.8  169.2   958
     2016-01-03 2016     ...     84.6  119.7   8.1   8.4   81.2  183.5   711
     2016-01-06 2016     ...     88.2  174.3  13.7   2.4   91.0  203.0  1377
     2016-01-08 2016     ...     92.5  100.6  19.0  25.2  160.3  200.3   871
     2016-01-13 2016     ...     77.6  179.1  42.8  10.3  122.9  219.1  1312
     2016-01-16 2016     ...     77.0  121.5  20.2  15.9   69.5  155.8   960
     2016-01-18 2016     ...    111.0  139.6  10.9  10.1   77.5  219.5   939
     2016-01-20 2016     ...     90.0  133.5  24.8   9.8  146.0  227.6  1367
     2016-01-25 2016     ...    120.9  195.9  11.8   6.7  198.6  277.3   988
     2016-01-28 2016     ...     93.7  107.3  25.2  24.6  107.4  191.8   997
     2016-02-03 2016     ...     96.8  154.2  30.4  26.9  199.3  265.4   985
     2016-02-05 2016     ...    118.6  136.1  14.1  10.1  116.9  239.5   968
     2016-02-18 2016     ...     82.1  122.1  22.4  25.5   83.7  203.8   941
     2016-02-19 2016     ...    178.8  169.6  10.4  14.2  117.8  241.4  1241
     2016-02-23 2016     ...    146.9  149.1  16.7  11.5  122.0  242.4  1036
     2016-02-28 2016     ...    143.2  188.9  13.9   7.2  172.8  268.2  1220
     2016-02-29 2016     ...    115.5  113.4   7.8  13.6  176.8  166.0   978
     2016-03-05 2016     ...     88.1  133.5  14.3   9.3  112.7  193.6  1014
     2016-03-14 2016     ...    155.1  205.3  32.9   8.8  142.4  278.4  1475
     2016-03-16 2016     ...    111.7  141.6  52.1  23.6  204.1  235.7  1361
     2016-03-19 2016     ...    107.9  126.4  14.1  14.7  108.8  199.2   958
     2016-03-23 2016     ...    139.4  284.6  13.4   6.6  145.8  266.1  1176
     2016-03-25 2016     ...     94.9  168.8  14.0   4.4   87.5  205.3  1168
     2016-04-06 2016     ...    136.3  188.3  21.8  36.3  103.9  255.1  1372
     2016-04-10 2016     ...    108.6  137.8  18.4  22.5  139.8  272.4  1498
     2016-04-13 2016     ...    111.6  145.6  43.6  18.7  125.1  215.6  1111

                        DRtg     SP  Points
Home Date       Season
ATL  2005-11-08 2006    1189  14400      97
     2005-11-10 2006    1208  14401      95
     2005-11-12 2006    1266  14400      84
     2005-11-23 2006    1132  14401     120
     2005-11-27 2006     852  14400      75
     2005-11-30 2006    1131  14400      74
     2005-12-02 2006    1206  14400     101
     2005-12-10 2006     922  14400      94
     2005-12-16 2006    1339  14400     122
     2005-12-18 2006    1273  15899     110
     2005-12-23 2006    1141  14401     111
     2005-12-27 2006     999  14400      90
     2006-01-03 2006    1147  14400      97
     2006-01-07 2006     929  14400     101
     2006-01-10 2006    1120  14401      94
     2006-01-14 2006    1118  15900     106
     2006-01-16 2006     932  14400      94
     2006-01-18 2006    1217  14400      89
     2006-01-20 2006    1109  14400     102
     2006-01-23 2006     935  14400     104
     2006-01-25 2006    1330  14400      97
     2006-01-27 2006    1028  14400     106
     2006-01-30 2006    1219  14400     120
     2006-02-03 2006    1162  14401      96
     2006-02-07 2006    1043  14400      99
     2006-02-22 2006    1219  14401     109
     2006-02-25 2006     910  14400      89
     2006-02-27 2006    1025  15901     104
     2006-03-03 2006    1180  14401      93
     2006-03-07 2006     969  14400     113
...                      ...    ...     ...
WAS  2015-12-19 2016     843  14400     109
     2015-12-21 2016     829  14400     113
     2015-12-23 2016     927  14400     100
     2015-12-28 2016    1075  14400      91
     2016-01-01 2016     869  14400     103
     2016-01-03 2016     943  14400      75
     2016-01-06 2016    1298  14400     115
     2016-01-08 2016     973  14401      88
     2016-01-13 2016    1101  14400     106
     2016-01-16 2016    1093  14400     117
     2016-01-18 2016    1289  14400      98
     2016-01-20 2016    1120  14400     106
     2016-01-25 2016    1500  14400      91
     2016-01-28 2016    1167  14400     113
     2016-02-03 2016    1322  14400     121
     2016-02-05 2016    1166  14400     106
     2016-02-18 2016    1030  14400     103
     2016-02-19 2016    1120  14400      98
     2016-02-23 2016    1013  14399     109
     2016-02-28 2016    1308  14400     113
     2016-02-29 2016     972  14400     116
     2016-03-05 2016    1077  14400      99
     2016-03-14 2016    1062  14400     124
     2016-03-16 2016    1079  14400     117
     2016-03-19 2016     959  14400      99
     2016-03-23 2016    1446  14399     101
     2016-03-25 2016    1213  17400     129
     2016-04-06 2016    1264  14400     121
     2016-04-10 2016    1299  14400     113
     2016-04-13 2016     977  14400     109

[13289 rows x 35 columns]

In [348]:
g.head()

                                  FG  FGA    FG%  3P  3PA    3P%  FT  FTA  \
Home OneisHome Season Date
ATL  0         2006   2005-11-08  38   73  4.813   7   18  2.333  20   33
                      2005-11-10  36   75  3.872   3    6  1.500  27   35
                      2005-11-12  29   72  2.882   7   23  0.929  20   26
                      2005-11-23  40   73  5.605  11   19  2.300  26   29
                      2005-11-27  32   72  4.232   3   15  0.833  10   17

                                   FT%  ORB   ...     TRB%   AST%  STL%  BLK%  \
Home OneisHome Season Date                    ...
ATL  0         2006   2005-11-08  3.14    6   ...     74.1  134.6  23.1  11.4
                      2005-11-10  5.75   10   ...    100.3  119.1  13.0  15.1
                      2005-11-12  3.80   10   ...     68.6  106.1  12.7  13.4
                      2005-11-23  4.75    5   ...     83.7  110.2  17.3  38.4
                      2005-11-27  2.50   10   ...     85.6  111.1  14.4  30.4

                                   TOV%   USG%  ORtg  DRtg     SP  Points
Home OneisHome Season Date
ATL  0         2006   2005-11-08  177.2  173.8   904  1150  14400     103
                      2005-11-10  160.9  180.8   943   898  14400     102
                      2005-11-12  121.1  220.5   801  1153  14400      85
                      2005-11-23  229.8  177.1  1132  1415  14401     117
                      2005-11-27  117.1  204.7   912   939  14400      77

[5 rows x 35 columns]

In [409]:
g['Win'] = g.query('OneisHome == 1')['Points'] > g.query('OneisHome == 0')['Points']

In [410]:
away['Win'] = away.query('OneisHome == 0')['Points'] > away.query('OneisHome == 1')['Points']

In [350]:
g.head()

                                  FG  FGA    FG%  3P  3PA    3P%  FT  FTA  \
Home OneisHome Season Date
ATL  0         2006   2005-11-08  38   73  4.813   7   18  2.333  20   33
                      2005-11-10  36   75  3.872   3    6  1.500  27   35
                      2005-11-12  29   72  2.882   7   23  0.929  20   26
                      2005-11-23  40   73  5.605  11   19  2.300  26   29
                      2005-11-27  32   72  4.232   3   15  0.833  10   17

                                   FT%  ORB   ...     TRB%   AST%  STL%  BLK%  \
Home OneisHome Season Date                    ...
ATL  0         2006   2005-11-08  3.14    6   ...     74.1  134.6  23.1  11.4
                      2005-11-10  5.75   10   ...    100.3  119.1  13.0  15.1
                      2005-11-12  3.80   10   ...     68.6  106.1  12.7  13.4
                      2005-11-23  4.75    5   ...     83.7  110.2  17.3  38.4
                      2005-11-27  2.50   10   ...     85.6  111.1  14.4  30.4

                                   TOV%   USG%  ORtg  DRtg     SP  Points
Home OneisHome Season Date
ATL  0         2006   2005-11-08  177.2  173.8   904  1150  14400     103
                      2005-11-10  160.9  180.8   943   898  14400     102
                      2005-11-12  121.1  220.5   801  1153  14400      85
                      2005-11-23  229.8  177.1  1132  1415  14401     117
                      2005-11-27  117.1  204.7   912   939  14400      77

[5 rows x 35 columns]

In [ ]:
specific_team_boost =

In [275]:
g.xs((1),level='OneisHome')['Points']

Home  Date        Season
ATL   2005-11-08  2006       97
      2005-11-10  2006       95
      2005-11-12  2006       84
      2005-11-23  2006      120
      2005-11-27  2006       75
      2005-11-30  2006       74
      2005-12-02  2006      101
      2005-12-10  2006       94
      2005-12-16  2006      122
      2005-12-18  2006      110
      2005-12-23  2006      111
      2005-12-27  2006       90
      2006-01-03  2006       97
      2006-01-07  2006      101
      2006-01-10  2006       94
      2006-01-14  2006      106
      2006-01-16  2006       94
      2006-01-18  2006       89
      2006-01-20  2006      102
      2006-01-23  2006      104
      2006-01-25  2006       97
      2006-01-27  2006      106
      2006-01-30  2006      120
      2006-02-03  2006       96
      2006-02-07  2006       99
      2006-02-22  2006      109
      2006-02-25  2006       89
      2006-02-27  2006      104
      2006-03-03  2006       93
      2006-03-07  2006      113
                           ...
WAS   2015-12-19  2016      109
      2015-12-21  2016      113
      2015-12-23  2016      100
      2015-12-28  2016       91
      2016-01-01  2016      103
      2016-01-03  2016       75
      2016-01-06  2016      115
      2016-01-08  2016       88
      2016-01-13  2016      106
      2016-01-16  2016      117
      2016-01-18  2016       98
      2016-01-20  2016      106
      2016-01-25  2016       91
      2016-01-28  2016      113
      2016-02-03  2016      121
      2016-02-05  2016      106
      2016-02-18  2016      103
      2016-02-19  2016       98
      2016-02-23  2016      109
      2016-02-28  2016      113
      2016-02-29  2016      116
      2016-03-05  2016       99
      2016-03-14  2016      124
      2016-03-16  2016      117
      2016-03-19  2016       99
      2016-03-23  2016      101
      2016-03-25  2016      129
      2016-04-06  2016      121
      2016-04-10  2016      113
      2016-04-13  2016      109
Name: Points, dtype: int64

In [411]:
h = g.reset_index()

In [412]:
a = away.reset_index()

In [237]:
h.head()

,Home,Date,OneisHome,Season,FG,FGA,FG%,3P,3PA,3P%,...,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,SP,Points,Win
0,ATL,2005-11-08,0,2006,38,73,4.813,7,18,2.333,...,134.6,23.1,11.4,177.2,173.8,904,1150,14400,103,NaN
1,ATL,2005-11-08,1,2006,37,75,3.946,4,15,1.200,...,59.5,7.9,3.3,162.0,157.3,808,1189,14400,97,False
2,ATL,2005-11-10,0,2006,36,75,3.872,3,6,1.500,...,119.1,13.0,15.1,160.9,180.8,943,898,14400,102,NaN
3,ATL,2005-11-10,1,2006,37,91,4.014,1,9,0.200,...,91.5,6.2,15.9,90.5,271.1,967,1208,14401,95,False
4,ATL,2005-11-12,0,2006,29,72,2.882,7,23,0.929,...,106.1,12.7,13.4,121.1,220.5,801,1153,14400,85,NaN

In [413]:
home_wins = h.groupby(['Home','Season','Win']).sum()

In [414]:
away_wins = a.groupby(['Away','Season','Win']).sum()

In [415]:
away_wins.xs(('ATL'),level='Away').head()

              OneisHome   FG   FGA      FG%   3P  3PA     3P%   FT  FTA  \
Season Win
2006   False          0  923  2115  102.709  130  368  42.369  523  718
       True           0  510  1107   56.321   71  192  24.089  314  404
2007   False          0  847  2036  106.741   81  290  33.986  539  710
       True           0  525  1108   60.209   84  203  28.433  273  365
2008   False          0  875  2077   98.673  108  323  34.116  528  702

                  FT%   ...      TRB%    AST%   STL%   BLK%    TOV%    USG%  \
Season Win              ...
2006   False  127.130   ...    2492.2  3216.8  450.0  341.2  4237.2  4983.9
       True    73.086   ...    1308.9  1625.5  199.4  206.5  1716.9  2415.2
2007   False  130.416   ...    2771.3  3547.3  402.9  452.0  4417.6  5460.1
       True    56.143   ...    1365.5  1718.0  206.4  346.7  1968.0  2605.7
2008   False  123.877   ...    2572.9  3027.7  416.3  386.2  3810.6  5057.6

               ORtg   DRtg      SP  Points
Season Win
2006   False  24664  30434  391809  2570.8
       True   14278  13970  204604  1445.4
2007   False  26375  33195  390304  2385.0
       True   14630  14990  204602  1443.5
2008   False  24813  31652  374411  2456.2

[5 rows x 36 columns]

In [248]:
season_wins = home_wins['OneisHome'] + away_wins['OneisHome']

In [254]:
Actual_wins = season_wins.xs((True), level='Win')

In [356]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP,Season
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79,2010
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369,2010
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685,2010
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487,2010
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332,2010

In [506]:
def boost_wins(df,team='CLE',free_throw=1.0):
    home = df.groupby(['Home','OneisHome','Season','Date']).sum()
    away = df.groupby(['Away','OneisHome','Season','Date']).sum()
    away['Points'] = away['FG']*2 + away['3P'] + away['FT']
    home['Points'] = home['FG']*2 + home['3P'] + home['FT']
    home.loc[(team,1),'Points'] = (home.xs(([team,1]),level=['Home','OneisHome'])['FG']*2 + home.xs(([team,1]),\
        level=['Home','OneisHome'])['3P'] + home.xs(([team,1]),level=['Home','OneisHome'])['FT']+home.xs(([team,1]),\
        level=['Home','OneisHome'])['FTA']*(free_throw-1)).values
    away.loc[(team,0),'Points'] = (away.xs(([team,0]),level=['Away','OneisHome'])['FG']*2 + away.xs(([team,0]),\
        level=['Away','OneisHome'])['3P'] + away.xs(([team,0]),level=['Away','OneisHome'])['FT']+away.xs(([team,0]),\
        level=['Away','OneisHome'])['FTA']*(free_throw-1)).values
    home['Win'] = home.query('OneisHome == 1')['Points'] > home.query('OneisHome == 0')['Points']
    away['Win'] = away.query('OneisHome == 0')['Points'] > away.query('OneisHome == 1')['Points']
    h = home.reset_index()
    a = away.reset_index()
    a = a[a['Away']==team]
    h = h[h['Home']==team]
    home_wins = h.groupby(['Home','Season','Win']).sum()
    away_wins = a.groupby(['Away','Season','Win']).count()
    season_wins = home_wins['OneisHome'] + away_wins['OneisHome']
    Actual_wins = season_wins.xs((True), level='Win')
    return Actual_wins

In [555]:
def win_diff(df, team):
    team_boost = boost_wins(df, team, free_throw=1.10)
    team_norm = ATLnorm = boost_wins(df, team)
    diff = np.round(np.mean(team_boost)-np.mean(team_norm),2)
    print team, diff

In [553]:
team_set = set(df['Home'])

In [556]:
lst = []
for a_team in team_set:
    win_diff(df, a_team)

MIL 3.36
GSW 2.82
MIN 2.91
MIA 3.18
ATL 4.0
BOS 3.82
DET 2.91
NYK 3.73
DEN 4.18
DAL 3.27
OKC 4.0
POR 2.91
NJN 3.86
TOR 3.55
SEA 4.33
CLE 3.82
SAS 1.64
CHA 3.67
UTA 3.91
CHI 3.36
CHO 2.0
HOU 2.82
NOH 1.17
WAS 4.27
LAL 3.73
PHI 4.45
PHO 2.73
NOK 4.0
MEM 3.45
LAC 3.36
SAC 4.18
ORL 3.64
BRK 2.75
IND 4.09
NOP 2.67

In [545]:
np.mean(lst)

4.4326994434137292

In [507]:
ATL = boost_wins(df, free_throw=1.1)
#HOME_W, AWAY_W= boost_wins(df, free_throw=1.1)

In [508]:
ATLnorm = boost_wins(df)

In [509]:
ATLnorm

Home  Season
CLE   2006      50
      2007      50
      2008      45
      2009      66
      2010      61
      2011      19
      2012      21
      2013      24
      2014      33
      2015      53
      2016      57
Name: OneisHome, dtype: int64

In [510]:
ATL

Home  Season
CLE   2006      54
      2007      55
      2008      51
      2009      68
      2010      67
      2011      22
      2012      23
      2013      31
      2014      36
      2015      55
      2016      59
Name: OneisHome, dtype: int64

In [511]:
np.mean(ATL)-np.mean(ATLnorm)

3.8181818181818201

In [401]:
away.loc[(team,0),'Points'] = (away.xs(([team,0]),level=['Away','OneisHome'])['FG']*2 + away.xs(([team,0]),\
    level=['Away','OneisHome'])['3P'] + away.xs(([team,0]),level=['Away','OneisHome'])['FT']+away.xs(([team,0]),\
    level=['Away','OneisHome'])['FTA']*(free_throw-1)).values

In [420]:
away['Win'] = away.query('OneisHome == 0')['Points'] > away.query('OneisHome == 1')['Points']

In [428]:
away_wins = a.groupby(['Away','Season','Win']).count()

In [430]:
away_wins['OneisHome']

Away  Season  Win
ATL   2006    False    27
              True     14
      2007    False    27
              True     14
      2008    False    26
              True     15
      2009    False    22
              True     19
      2010    False    19
              True     22
      2011    False    21
              True     20
      2012    False    12
              True     21
      2013    False    19
              True     22
      2014    False    25
              True     16
      2015    False    14
              True     27
      2016    False    20
              True     21
Name: OneisHome, dtype: int64

In [ ]:
def norm_wins(df):
    home = df.groupby(['Home','OneisHome','Season','Date']).sum()
    away = df.groupby(['Away','OneisHome','Season','Date']).sum()
    away['Points'] = away['FG']*2 + away['3P'] + away['FT']
    home['Points'] = home['FG']*2 + home['3P'] + home['FT']
    home.loc[(team,1),'Points'] = (home.xs(([team,1]),level=['Home','OneisHome'])['FG']*2 + home.xs(([team,1]),\
        level=['Home','OneisHome'])['3P'] + home.xs(([team,1]),level=['Home','OneisHome'])['FT']+home.xs(([team,1]),\
        level=['Home','OneisHome'])['FTA']*(free_throw-1)).values
    away.loc[(team,0),'Points'] = (away.xs(([team,0]),level=['Away','OneisHome'])['FG']*2 + away.xs(([team,0]),\
        level=['Away','OneisHome'])['3P'] + away.xs(([team,0]),level=['Away','OneisHome'])['FT']+away.xs(([team,0]),\
        level=['Away','OneisHome'])['FTA']*(free_throw-1)).values
    home['Win'] = home.query('OneisHome == 1')['Points'] > home.query('OneisHome == 0')['Points']
    away['Win'] = away.query('OneisHome == 0')['Points'] > away.query('OneisHome == 1')['Points']
    h = home.reset_index()
    a = away.reset_index()
    a = a[a['Away']==team]
    h = h[h['Home']==team]
    home_wins = h.groupby(['Home','Season','Win']).sum()
    away_wins = a.groupby(['Away','Season','Win']).count()
    season_wins = home_wins['OneisHome'] + away_wins['OneisHome']
    Actual_wins = season_wins.xs((True), level='Win')
    return Actual_wins