In [1]:
cd ../../GalvClas/fantasy-score-predictor/

/Users/ericpei/Documents/GalvClas/fantasy-score-predictor

In [2]:
from scripts import make_df

In [3]:
from scripts import random_forest

/Users/ericpei/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [70]:
make_df.create_csvs('alldata')

In [71]:
df = make_df.create_df()

In [72]:
df = make_df.clean_df(df)

In [74]:
df=make_df.drop_zerominutes(df)

In [75]:
df = make_df.add_features(df)

In [76]:
Player_Averages = make_df.make_averages(df)

In [182]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,BLK%,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,0,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332

In [207]:
for idx, i in enumerate(df['Date']):
    print check_year(i)
    if idx>10:
        break

ValueError: invalid abbreviation: year

In [215]:
def check_year(date):
    if date.month < 7:
        return date.year
    else:
        return (date.year + 1)

In [197]:
Timedelta('1 days')

Timedelta('1 days 00:00:00')

In [199]:
from datetime import timedelta

In [196]:
from pandas import Timedelta

In [216]:
df['Season'] = df.apply(lambda x: check_year(x['Date']), axis=1)

In [217]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP,Season
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79,2010
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369,2010
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685,2010
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487,2010
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332,2010

In [93]:
g = df.groupby(['Home','Date','OneisHome']).sum()

In [95]:
g['Points'] = g['FG']*2 + g['3P'] + g['FT']

In [167]:
g.xs((1), level=('OneisHome'))

                 FG  FGA    FG%  3P  3PA    3P%  FT  FTA    FT%  ORB  ...    \
Home Date                                                             ...
ATL  2005-11-08  37   75  3.946   4   15  1.200  19   26  5.871    9  ...
     2005-11-10  37   91  4.014   1    9  0.200  20   27  4.467   17  ...
     2005-11-12  33   83  4.067   4   12  1.200  14   19  3.750   16  ...
     2005-11-23  40   72  5.341   6    8  2.417  34   38  6.157   14  ...
     2005-11-27  28   70  2.951   0    6  0.000  19   26  5.684   12  ...
     2005-11-30  30   75  3.107   0    7  0.000  14   20  2.833   10  ...
     2005-12-02  43   78  4.400   4    9  1.250  11   15  3.100   11  ...
     2005-12-10  36   77  3.845   0    2  0.000  22   28  4.875    9  ...
     2005-12-16  43   68  6.012  12   16  1.857  24   32  5.233   11  ...
     2005-12-18  41   96  3.145  11   21  1.621  17   19  6.250   19  ...
     2005-12-23  47   87  6.210   7   16  1.833  10   17  2.614   11  ...
     2005-12-27  40   85  4.210   2   11  0.700   8   13  3.167   11  ...
     2006-01-03  31   65  4.230   2   11  1.333  33   41  4.924    5  ...
     2006-01-07  38   72  4.610   6   18  2.333  19   20  5.500    9  ...
     2006-01-10  36   80  3.689   5   13  2.250  17   21  4.250   14  ...
     2006-01-14  35   77  4.516   6   15  1.329  30   38  6.083   11  ...
     2006-01-16  39   77  3.816   4   15  1.143  12   17  4.417   14  ...
     2006-01-18  30   88  2.600   4   13  1.166  25   30  6.633   19  ...
     2006-01-20  37   89  3.481   5   19  0.500  23   33  6.350   14  ...
     2006-01-23  40   72  5.066   3   10  1.083  21   30  5.083    8  ...
     2006-01-25  38   75  5.583   5   13  1.233  16   22  4.334   11  ...
     2006-01-27  41   98  4.184   8   22  2.234  16   17  4.857   19  ...
     2006-01-30  40   84  4.429  10   17  3.683  30   36  6.500   16  ...
     2006-02-03  35   84  3.550   5   16  1.333  21   28  4.250   20  ...
     2006-02-07  41   83  4.505   5   12  1.000  12   14  4.000   13  ...
     2006-02-22  41   82  3.902   5   13  2.286  22   28  5.532   13  ...
     2006-02-25  31   70  3.349   4   17  0.819  23   32  4.292    8  ...
     2006-02-27  38   80  3.986   6   13  2.000  22   30  4.284   15  ...
     2006-03-03  34   73  3.312   6   16  1.500  19   23  5.883   10  ...
     2006-03-07  37   81  3.236  10   20  2.567  29   40  4.494   16  ...
...              ..  ...    ...  ..  ...    ...  ..  ...    ...  ...  ...
WAS  2015-12-19  40   79  4.177   9   20  2.667  20   23  6.547    5  ...
     2015-12-21  42   83  3.604  14   24  3.433  15   17  5.250    4  ...
     2015-12-23  37   82  4.380  11   25  3.286  15   19  4.933   12  ...
     2015-12-28  34   87  2.978   7   24  1.886  16   24  5.238   13  ...
     2016-01-01  43   92  3.916   8   26  2.783   9   10  3.500   12  ...
     2016-01-03  31   91  3.176   4   30  0.617   9   13  2.714   11  ...
     2016-01-06  42   76  6.092  14   24  4.433  17   27  5.184    5  ...
     2016-01-08  33   84  3.837   8   25  2.732  14   15  5.500    7  ...
     2016-01-13  38   84  5.348  12   27  4.083  18   24  5.084    9  ...
     2016-01-16  40   89  3.459   6   22  2.283  31   36  5.953   14  ...
     2016-01-18  37   77  4.358   9   21  2.033  15   20  4.250    4  ...
     2016-01-20  45   86  6.163   5   16  3.533  11   13  4.250   11  ...
     2016-01-25  32   75  5.215   7   24  2.167  20   30  4.833    5  ...
     2016-01-28  39   88  3.899  11   28  2.286  24   30  7.000   12  ...
     2016-02-03  46   91  4.385   8   23  3.343  21   30  6.017    4  ...
     2016-02-05  44   84  4.569   6   22  1.467  12   20  4.667    9  ...
     2016-02-18  42   86  4.664   7   18  1.999  12   21  3.800    6  ...
     2016-02-19  36   78  3.996   7   22  1.536  19   26  5.750    8  ...
     2016-02-23  43   94  4.963  12   26  3.100  11   17  4.100    7  ...
     2016-02-28  39   79  5.877  11   31  3.150  24   34  5.639    6  ...
     2016-02-29  43   89  4.517   6   20  1.833  24   31  5.550   14  ...
     2016-03-05  39   89  4.527   6   15  2.750  15   24  4.083   14  ...
     2016-03-14  51   90  7.811   8   18  3.900  14   18  4.300    5  ...
     2016-03-16  43   88  5.145  13   21  4.083  18   24  4.833    9  ...
     2016-03-19  39   87  4.937   8   29  2.513  13   17  4.000    8  ...
     2016-03-23  39   92  3.803  12   30  2.583  11   12  3.800   10  ...
     2016-03-25  50  100  4.886  13   29  3.400  16   23  4.625   13  ...
     2016-04-06  48   95  4.996   8   28  2.013  17   20  6.000   16  ...
     2016-04-10  42   80  6.514   9   21  4.983  20   28  5.107    4  ...
     2016-04-13  42   88  4.452   9   28  2.266  16   30  6.267   11  ...

                  AST%  STL%  BLK%   TOV%   USG%  ORtg  DRtg     SP  Points  \
Home Date
ATL  2005-11-08   59.5   7.9   3.3  162.0  157.3   808  1189  14400      97
     2005-11-10   91.5   6.2  15.9   90.5  271.1   967  1208  14401      95
     2005-11-12  131.7  14.3  19.2  201.2  205.3   953  1266  14400      84
     2005-11-23  112.7   9.6  12.4  109.1  162.7  1328  1132  14401     120
     2005-11-27   56.5  17.5   5.9  171.9  172.5   734   852  14400      75
     2005-11-30  110.6  18.8   7.5  155.4  186.6   856  1131  14400      74
     2005-12-02  107.8  10.9  14.4  119.1  167.8   899  1206  14400     101
     2005-12-10   58.9  12.5   5.6   82.4  180.1   842   922  14400      94
     2005-12-16  127.5  21.6  21.4  208.4  172.5  1199  1339  14400     122
     2005-12-18  178.5  10.1   8.5   76.0  182.1  1106  1273  15899     110
     2005-12-23  135.7   7.3  19.1  127.1  176.3  1215  1141  14401     111
     2005-12-27  102.5  13.7  13.6  114.4  171.9   825   999  14400      90
     2006-01-03  123.0  17.9   7.5  173.3  177.1   872  1147  14400      97
     2006-01-07  116.0  22.0  10.7  166.4  168.7  1019   929  14400     101
     2006-01-10  138.3  14.0  18.6  103.5  164.7   880  1120  14401      94
     2006-01-14  117.1   4.5   2.0  142.4  152.7  1172  1118  15900     106
     2006-01-16  124.3  11.3  26.1  101.0  155.9  1128   932  14400      94
     2006-01-18  128.0   8.7   9.1   60.5  175.2   818  1217  14400      89
     2006-01-20  115.0  13.3  12.6   77.8  176.3   918  1109  14400     102
     2006-01-23  136.5  21.2  12.1  119.2  175.9  1102   935  14400     104
     2006-01-25  156.7  13.1  23.1  151.3  222.9  1264  1330  14400      97
     2006-01-27  107.2   6.7   6.7  111.3  172.8  1060  1028  14400     106
     2006-01-30   94.0  19.2  16.7   97.5  204.7  1349  1219  14400     120
     2006-02-03  140.6   8.5  14.9  134.0  198.0  1044  1162  14401      96
     2006-02-07  111.8   9.5   5.0  117.8  177.2  1017  1043  14400      99
     2006-02-22  153.9  17.5  10.8   77.0  167.0  1091  1219  14401     109
     2006-02-25  105.3   8.0   8.8  183.2  144.2   766   910  14400      89
     2006-02-27  105.4   4.2  16.6  158.4  177.6   972  1025  15901     104
     2006-03-03   90.0  12.5   7.1  211.4  171.9  1040  1180  14401      93
     2006-03-07  100.2  13.4  30.8  103.7  176.8   817   969  14400     113
...                ...   ...   ...    ...    ...   ...   ...    ...     ...
WAS  2015-12-19  115.3  14.6   9.7   62.6  147.7   984   843  14400     109
     2015-12-21  110.2  11.4  11.7   73.1  142.3   862   829  14400     113
     2015-12-23  125.2   9.7   7.4  121.6  176.3  1037   927  14400     100
     2015-12-28  120.0  17.6  29.4  216.4  191.4   773  1075  14400      91
     2016-01-01  105.3  17.1  29.2   48.8  169.2   958   869  14400     103
     2016-01-03  119.7   8.1   8.4   81.2  183.5   711   943  14400      75
     2016-01-06  174.3  13.7   2.4   91.0  203.0  1377  1298  14400     115
     2016-01-08  100.6  19.0  25.2  160.3  200.3   871   973  14401      88
     2016-01-13  179.1  42.8  10.3  122.9  219.1  1312  1101  14400     106
     2016-01-16  121.5  20.2  15.9   69.5  155.8   960  1093  14400     117
     2016-01-18  139.6  10.9  10.1   77.5  219.5   939  1289  14400      98
     2016-01-20  133.5  24.8   9.8  146.0  227.6  1367  1120  14400     106
     2016-01-25  195.9  11.8   6.7  198.6  277.3   988  1500  14400      91
     2016-01-28  107.3  25.2  24.6  107.4  191.8   997  1167  14400     113
     2016-02-03  154.2  30.4  26.9  199.3  265.4   985  1322  14400     121
     2016-02-05  136.1  14.1  10.1  116.9  239.5   968  1166  14400     106
     2016-02-18  122.1  22.4  25.5   83.7  203.8   941  1030  14400     103
     2016-02-19  169.6  10.4  14.2  117.8  241.4  1241  1120  14400      98
     2016-02-23  149.1  16.7  11.5  122.0  242.4  1036  1013  14399     109
     2016-02-28  188.9  13.9   7.2  172.8  268.2  1220  1308  14400     113
     2016-02-29  113.4   7.8  13.6  176.8  166.0   978   972  14400     116
     2016-03-05  133.5  14.3   9.3  112.7  193.6  1014  1077  14400      99
     2016-03-14  205.3  32.9   8.8  142.4  278.4  1475  1062  14400     124
     2016-03-16  141.6  52.1  23.6  204.1  235.7  1361  1079  14400     117
     2016-03-19  126.4  14.1  14.7  108.8  199.2   958   959  14400      99
     2016-03-23  284.6  13.4   6.6  145.8  266.1  1176  1446  14399     101
     2016-03-25  168.8  14.0   4.4   87.5  205.3  1168  1213  17400     129
     2016-04-06  188.3  21.8  36.3  103.9  255.1  1372  1264  14400     121
     2016-04-10  137.8  18.4  22.5  139.8  272.4  1498  1299  14400     113
     2016-04-13  145.6  43.6  18.7  125.1  215.6  1111   977  14400     109

                   Win
Home Date
ATL  2005-11-08  False
     2005-11-10  False
     2005-11-12  False
     2005-11-23   True
     2005-11-27  False
     2005-11-30  False
     2005-12-02  False
     2005-12-10   True
     2005-12-16   True
     2005-12-18   True
     2005-12-23   True
     2005-12-27  False
     2006-01-03  False
     2006-01-07   True
     2006-01-10  False
     2006-01-14  False
     2006-01-16   True
     2006-01-18  False
     2006-01-20  False
     2006-01-23   True
     2006-01-25  False
     2006-01-27  False
     2006-01-30   True
     2006-02-03   True
     2006-02-07   True
     2006-02-22  False
     2006-02-25  False
     2006-02-27   True
     2006-03-03  False
     2006-03-07   True
...                ...
WAS  2015-12-19   True
     2015-12-21   True
     2015-12-23   True
     2015-12-28  False
     2016-01-01   True
     2016-01-03  False
     2016-01-06  False
     2016-01-08  False
     2016-01-13   True
     2016-01-16  False
     2016-01-18  False
     2016-01-20   True
     2016-01-25  False
     2016-01-28  False
     2016-02-03  False
     2016-02-05   True
     2016-02-18   True
     2016-02-19   True
     2016-02-23   True
     2016-02-28   True
     2016-02-29   True
     2016-03-05  False
     2016-03-14   True
     2016-03-16   True
     2016-03-19   True
     2016-03-23  False
     2016-03-25  False
     2016-04-06   True
     2016-04-10   True
     2016-04-13   True

[13289 rows x 36 columns]

In [152]:
g['Win'] = g.query('OneisHome == 1')['Points'] > g.query('OneisHome == 0')['Points']

In [155]:
g.head()

                           FG  FGA    FG%  3P  3PA    3P%  FT  FTA    FT%  \
Home Date       OneisHome
ATL  2005-11-08 0          38   73  4.813   7   18  2.333  20   33  3.140
                1          37   75  3.946   4   15  1.200  19   26  5.871
     2005-11-10 0          36   75  3.872   3    6  1.500  27   35  5.750
                1          37   91  4.014   1    9  0.200  20   27  4.467
     2005-11-12 0          29   72  2.882   7   23  0.929  20   26  3.800

                           ORB  ...     AST%  STL%  BLK%   TOV%   USG%  ORtg  \
Home Date       OneisHome       ...
ATL  2005-11-08 0            6  ...    134.6  23.1  11.4  177.2  173.8   904
                1            9  ...     59.5   7.9   3.3  162.0  157.3   808
     2005-11-10 0           10  ...    119.1  13.0  15.1  160.9  180.8   943
                1           17  ...     91.5   6.2  15.9   90.5  271.1   967
     2005-11-12 0           10  ...    106.1  12.7  13.4  121.1  220.5   801

                           DRtg     SP  Points    Win
Home Date       OneisHome
ATL  2005-11-08 0          1150  14400     103    NaN
                1          1189  14400      97  False
     2005-11-10 0           898  14400     102    NaN
                1          1208  14401      95  False
     2005-11-12 0          1153  14400      85    NaN

[5 rows x 36 columns]

In [173]:
g['Win'].sum()

7907

In [175]:
h = g.reset_index()

In [176]:
h.head()

,Home,Date,OneisHome,FG,FGA,FG%,3P,3PA,3P%,FT,...,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,SP,Points,Win
0,ATL,2005-11-08,0,38,73,4.813,7,18,2.333,20,...,134.6,23.1,11.4,177.2,173.8,904,1150,14400,103,NaN
1,ATL,2005-11-08,1,37,75,3.946,4,15,1.200,19,...,59.5,7.9,3.3,162.0,157.3,808,1189,14400,97,False
2,ATL,2005-11-10,0,36,75,3.872,3,6,1.500,27,...,119.1,13.0,15.1,160.9,180.8,943,898,14400,102,NaN
3,ATL,2005-11-10,1,37,91,4.014,1,9,0.200,20,...,91.5,6.2,15.9,90.5,271.1,967,1208,14401,95,False
4,ATL,2005-11-12,0,29,72,2.882,7,23,0.929,20,...,106.1,12.7,13.4,121.1,220.5,801,1153,14400,85,NaN

In [178]:
h.groupby(['Home','Win']).sum()

            OneisHome     FG    FGA       FG%    3P   3PA      3P%    FT  \
Home Win
ATL  False        159   5546  12801   632.146   978  3087  272.530  2738
     True         284  11116  23053  1271.792  2224  5799  609.929  5135
BOS  False        166   5797  13413   675.131   941  3081  260.703  2768
     True         276  10732  22090  1279.020  1928  5055  523.388  5223
BRK  False         77   2685   6218   331.237   512  1592  140.963  1252
     True          87   3405   7030   410.191   735  1839  184.058  1561
CHA  False        184   6184  14774   732.761   912  2892  272.158  3300
     True         177   6666  14159   773.202  1103  2845  327.148  3709
CHI  False        153   5405  12950   584.942   847  2662  240.674  2434
     True         290  11078  23937  1228.029  1871  4830  523.807  5645
CHO  False         33   1129   2792   129.641   246   787   63.626   551
     True          49   1875   4161   220.965   445  1215  121.952   970
CLE  False        161   5587  13322   627.400  1028  3202  273.774  2723
     True         282  10829  22807  1244.769  2306  5902  587.731  5265
DAL  False        127   4591  10556   549.559   880  2738  246.916  2302
     True         316  12368  25554  1488.376  2418  6197  683.775  6270
DEN  False        144   5146  12133   567.284   920  3024  226.367  2879
     True         299  12154  25024  1390.073  2190  5830  578.200  6893
DET  False        190   6673  15627   762.916  1030  3361  318.092  3184
     True         253   9807  20568  1143.919  1713  4448  512.723  4696
GSW  False        155   5915  13370   613.480  1147  3388  271.189  2701
     True         288  12036  24614  1342.121  2823  6930  651.252  5454
HOU  False        151   5224  12450   581.797  1169  3628  260.505  2653
     True         292  11274  23943  1279.614  2645  7132  616.478  5694
IND  False        164   5834  13752   667.181  1106  3408  288.920  2904
     True         279  10653  22942  1251.952  2142  5576  580.701  5605
LAC  False        174   5994  13798   674.483   952  3093  255.752  3079
     True         269  10508  21664  1246.439  1945  5258  511.503  5435
LAL  False        168   6039  14138   675.021  1147  3678  296.003  3041
     True         275  10928  22780  1239.449  2087  5512  628.797  5524
...               ...    ...    ...       ...   ...   ...      ...   ...
NOH  False        101   3474   8029   406.918   544  1679  154.718  1519
     True         137   5295  10962   627.879   942  2445  270.260  2416
NOK  False         34   1155   2727   131.509   134   442   40.771   589
     True          48   1804   3881   198.833   258   651   79.207   928
NOP  False         52   1899   4379   214.382   352  1010  103.042   895
     True          71   2882   5945   321.821   575  1396  157.669  1275
NYK  False        233   8214  19222   917.617  1573  5032  387.660  4119
     True         210   8192  17081   927.300  1870  4806  456.592  4175
OKC  False         93   3307   7570   372.997   533  1700  147.731  1770
     True         227   9112  18587  1105.780  1627  4261  485.282  4925
ORL  False        184   6487  14808   742.427  1219  3736  320.319  2993
     True         259   9953  20512  1198.144  2154  5479  581.946  4924
PHI  False        244   8651  20189   984.489  1433  4581  406.871  4092
     True         199   7754  16177   875.972  1152  3040  361.594  3605
PHO  False        168   6318  14135   694.421  1285  3780  341.873  2796
     True         275  11413  23023  1256.054  2486  6073  651.817  5189
POR  False        159   5559  12962   629.757  1018  3139  274.543  2733
     True         284  11023  23228  1274.784  2310  5985  608.612  5329
SAC  False        241   8740  20039   983.210  1456  4523  406.134  4650
     True         202   8020  16574   917.855  1451  3731  431.793  4469
SAS  False         83   2895   6661   350.222   558  1720  151.679  1317
     True         360  14410  28957  1864.122  2931  7132  887.582  6124
SEA  False         68   2490   5704   271.132   357  1107   86.416  1257
     True          55   2156   4454   248.729   369   898   88.070  1164
TOR  False        195   7124  16124   803.411  1222  3694  336.962  3490
     True         248   9580  19898  1117.550  1870  4745  521.348  4952
UTA  False        151   5303  11983   625.332   780  2563  241.215  2731
     True         292  11416  23310  1368.382  1791  4581  569.154  6091
WAS  False        211   7564  17563   853.442  1198  3773  321.273  3699
     True         232   9213  19097  1061.271  1584  4005  455.569  4513

             FTA       FT%   ...       TRB%     AST%    STL%    BLK%     TOV%  \
Home Win                     ...
ATL  False  3665   702.588   ...    14876.6  22699.8  2239.9  2032.4  21795.4
     True   6649  1328.788   ...    29867.0  42571.3  4777.0  4186.5  37081.3
BOS  False  3673   735.835   ...    16588.7  22511.5  2565.9  2528.9  23782.4
     True   6769  1336.471   ...    29946.3  41283.7  5022.6  4739.1  40427.4
BRK  False  1687   342.749   ...     8567.4  11013.9  1129.4  1017.0  11965.3
     True   2113   415.852   ...     9861.9   9800.5  1826.1  1247.2  13206.9
CHA  False  4528   830.515   ...    17903.8  25293.9  2642.3  3542.4  25529.1
     True   4914   852.747   ...    18495.8  24392.2  2781.9  3689.8  22885.1
CHI  False  3239   648.739   ...    15190.0  21478.3  2316.3  2813.1  21040.0
     True   7333  1361.718   ...    31295.7  42458.7  4638.1  5694.7  37549.7
CHO  False   744   150.665   ...     3189.0   4621.3   392.9   765.0   3559.0
     True   1247   243.515   ...     5452.7   7171.0   712.8  1050.6   5588.9
CLE  False  3743   693.568   ...    16103.0  22199.3  2283.6  2237.0  22118.0
     True   7110  1256.485   ...    30589.3  39939.9  4392.9  4982.1  36090.7
DAL  False  2970   606.838   ...    13415.8  15802.2  2051.9  2436.0  17288.5
     True   7808  1522.071   ...    35206.1  44046.5  5587.3  5809.4  45454.8
DEN  False  3941   666.656   ...    14043.1  19740.5  2089.0  2532.5  19096.6
     True   9188  1488.341   ...    32554.9  43105.5  5064.5  6540.3  40900.8
DET  False  4403   827.089   ...    18473.3  25971.6  2792.3  2935.8  23977.6
     True   6379  1141.220   ...    27399.7  36261.7  4229.3  4886.9  31723.8
GSW  False  3613   647.843   ...    14601.3  19586.5  2389.3  2605.2  19782.3
     True   7055  1382.388   ...    30840.4  41555.4  5044.4  5734.5  39141.0
HOU  False  3597   634.684   ...    14661.1  19371.4  2348.4  2082.4  19901.2
     True   7608  1276.797   ...    31241.4  39711.5  4659.3  4835.2  37745.9
IND  False  3849   765.330   ...    16429.1  21888.2  2220.5  2872.8  23055.3
     True   7224  1387.059   ...    30445.7  39038.0  4646.9  5213.9  38680.5
LAC  False  4192   724.666   ...    16112.9  24910.1  2667.0  2828.6  24964.4
     True   7412  1216.970   ...    28049.1  40845.3  5018.6  5773.6  37060.2
LAL  False  4140   713.035   ...    16006.2  23692.6  2407.2  2680.3  21823.1
     True   7281  1252.998   ...    29192.8  40504.7  4492.1  4856.1  37528.0
...          ...       ...   ...        ...      ...     ...     ...      ...
NOH  False  2011   433.373   ...    10207.5  14358.2  1513.3  1703.6  14148.7
     True   3109   622.639   ...    15026.1  18897.4  2430.5  2453.7  17820.0
NOK  False   776   163.030   ...     3305.0   3537.0   497.4   418.8   3756.3
     True   1255   225.117   ...     4681.8   5511.5   690.0   854.9   5568.6
NOP  False  1170   233.637   ...     5264.2   7198.4   724.3  1019.6   6390.0
     True   1663   324.200   ...     7537.8   9750.9  1127.6  1815.9   9179.3
NYK  False  5491  1020.017   ...    22915.8  27077.4  3361.7  2800.4  32706.0
     True   5431   959.493   ...    21673.2  26071.9  3587.9  2909.7  28348.5
OKC  False  2269   380.452   ...     9170.2  11548.6  1277.0  1511.2  13452.3
     True   6141  1052.599   ...    26388.7  31395.5  4236.6  4888.0  33820.6
ORL  False  4157   772.237   ...    17783.7  23402.9  2747.1  2528.5  25626.3
     True   6768  1175.620   ...    27442.2  34332.9  3982.9  4235.3  36359.4
PHI  False  5696  1073.158   ...    24244.2  33499.5  3958.8  3692.1  32735.3
     True   4818   886.144   ...    20935.4  26859.6  3432.4  3684.0  24479.9
PHO  False  3690   769.284   ...    16171.9  20819.8  2366.2  2615.2  23364.7
     True   6726  1334.348   ...    28009.7  35421.6  4013.3  4703.5  35313.7
POR  False  3598   703.004   ...    15591.0  20677.7  2290.3  2363.9  22581.1
     True   6759  1360.406   ...    31043.4  40328.1  4334.3  4425.9  39111.8
SAC  False  6211  1082.544   ...    24187.1  28104.5  3548.4  3101.2  33162.8
     True   5742   991.606   ...    21164.6  25088.1  3070.7  3051.3  28584.4
SAS  False  1800   320.695   ...     8731.0  11879.8  1138.6  1153.5  11760.8
     True   8072  1645.334   ...    43080.4  60710.8  6376.3  6573.8  52060.6
SEA  False  1606   334.146   ...     6878.2   8463.0   953.8   989.3   9685.9
     True   1442   285.010   ...     5705.2   7390.0   829.4   937.2   7531.7
TOR  False  4443   843.783   ...    19267.3  25576.4  2847.5  2677.3  27337.6
     True   6286  1163.617   ...    26276.8  34037.7  3969.6  3961.8  30715.8
UTA  False  3747   675.761   ...    16032.1  19753.7  2116.2  2524.4  22922.1
     True   8033  1482.381   ...    32292.2  43531.1  5581.3  5864.8  41723.4
WAS  False  4971   948.255   ...    20862.0  27596.0  3465.1  3534.7  30419.5
     True   5894  1074.673   ...    24990.7  31320.4  4021.7  4353.1  31568.7

               USG%    ORtg    DRtg       SP  Points
Home Win
ATL  False  30387.3  152593  182972  2318130   14808
     True   55818.6  309512  301873  4122633   29591
BOS  False  32604.5  159945  190267  2405443   15303
     True   56528.4  300865  286528  4014955   28615
BRK  False  16313.0   78272   96347  1119300    7134
     True   18547.5   98464   96885  1267803    9106
CHA  False  36403.4  175951  210229  2669119   16580
     True   34776.6  188607  180798  2581799   18144
CHI  False  29799.8  142243  169699  2239218   14091
     True   56839.2  302985  286508  4201567   29672
CHO  False   6467.6   32406   37174   476699    3055
     True    9998.6   54999   50937   717602    5165
CLE  False  31267.4  153731  185400  2343923   14925
     True   54947.7  309546  295578  4084830   29229
DAL  False  26745.8  133922  155407  1852822   12364
     True   64814.0  360474  346085  4580462   33424
DEN  False  27504.6  137519  159874  2088618   14091
     True   59082.2  331494  310373  4331146   33391
DET  False  36824.7  185175  218906  2766013   17560
     True   50505.1  279870  266486  3664230   26023
GSW  False  28116.8  145062  171034  2259021   15678
     True   56886.5  326027  307230  4166740   32349
HOU  False  28501.7  144338  164430  2192418   14270
     True   56479.4  313181  293411  4237830   30887
IND  False  32862.2  160920  186943  2384133   15678
     True   56529.2  310865  288954  4043110   29053
LAC  False  32687.1  161644  198621  2511635   16019
     True   53130.8  294298  278937  3896134   28396
LAL  False  31899.3  163027  188388  2432716   16266
     True   53861.7  300679  285743  3993033   29467
...             ...     ...     ...      ...     ...
NOH  False  20043.7   97192  117482  1458910    9011
     True   27492.2  151624  145933  1983324   13948
NOK  False   6316.2   31411   36875   489605    3033
     True    8851.0   48329   46965   703202    4794
NOP  False  10052.1   53246   61422   753299    5045
     True   13473.1   77862   76363  1029902    7614
NYK  False  44188.1  219149  263038  3380717   22120
     True   40137.5  228863  216743  3057027   22429
OKC  False  17007.0   88907  103496  1349708    8917
     True   45561.5  263936  247453  3291318   24776
ORL  False  35268.7  175446  208114  2675117   17186
     True   51317.6  285660  263681  3749103   26984
PHI  False  47875.1  235431  280664  3537627   22827
     True   38413.6  206903  196900  2895634   20265
PHO  False  32803.0  163920  191628  2441718   16717
     True   54916.0  299078  286199  3973536   30501
POR  False  31198.4  154774  183595  2309129   14869
     True   56430.5  317469  304151  4109132   29685
SAC  False  47118.9  236928  281283  3504939   23586
     True   38921.7  217886  211442  2925329   21960
SAS  False  16973.6   84730  100453  1210223    7665
     True   78859.8  446355  409071  5202031   37875
SEA  False  13154.8   65569   79734   983710    6594
     True   10410.7   58524   56448   798008    5845
TOR  False  37490.6  191002  228266  2848535   18960
     True   48783.5  272651  258236  3583228   25982
UTA  False  29562.4  148910  176803  2192414   14117
     True   60075.8  331714  314264  4240808   30714
WAS  False  41435.8  206646  249172  3071438   20025
     True   45674.0  254281  244783  3363325   24523

[70 rows x 36 columns]

In [ ]:
#g = df.groupby(['Home','Date','OneisHome']).sum()

In [165]:
g.xs((1), level=('Date'))

KeyError: 1