In [2]:
from scripts import make_df

In [3]:
from scripts import random_forest

/Users/ericpei/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [70]:
make_df.create_csvs('alldata')

In [71]:
df = make_df.create_df()

In [72]:
df = make_df.clean_df(df)

In [74]:
df = make_df.drop_zerominutes(df)

In [75]:
df = make_df.add_features(df)

In [76]:
Player_Averages = make_df.make_averages(df)

In [559]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP,Season
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79,2010
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369,2010
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685,2010
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487,2010
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332,2010

In [560]:
def check_year(date):
    if date.month < 7:
        return date.year
    else:
        return (date.year + 1)

In [199]:
from datetime import timedelta

In [196]:
from pandas import Timedelta

In [216]:
df['Season'] = df.apply(lambda x: check_year(x['Date']), axis=1)

In [217]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP,Season
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79,2010
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369,2010
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685,2010
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487,2010
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332,2010

In [561]:
home = df.groupby(['Home','OneisHome','Season','Date']).sum()

In [564]:
# special_team_home = df.groupby(['Home','OneisHome','Season','Date']).sum()

In [565]:
# special_team_away = df.groupby(['Away','OneisHome','Season','Date']).sum()

In [566]:
# special_team_home.xs((['ATL',1]),level=['Home','OneisHome'])

In [563]:
# def special_points(team=):
#     special_team_home['Points'] = g['FG']*2 + g['3P'] + g['FT']

In [567]:
away = df.groupby(['Away','OneisHome','Season','Date']).sum()
away['Points'] = away['FG']*2 + away['3P'] + away['FT']

In [568]:
home.xs((['ATL',1]),level=['Home','OneisHome'])['FG']*2 + home.xs((['ATL',1]),level=['Home','OneisHome'])['FT']

Season  Date
2006    2005-11-08     93
        2005-11-10     94
        2005-11-12     80
        2005-11-23    114
        2005-11-27     75
        2005-11-30     74
        2005-12-02     97
        2005-12-10     94
        2005-12-16    110
        2005-12-18     99
        2005-12-23    104
        2005-12-27     88
        2006-01-03     95
        2006-01-07     95
        2006-01-10     89
        2006-01-14    100
        2006-01-16     90
        2006-01-18     85
        2006-01-20     97
        2006-01-23    101
        2006-01-25     92
        2006-01-27     98
        2006-01-30    110
        2006-02-03     91
        2006-02-07     94
        2006-02-22    104
        2006-02-25     85
        2006-02-27     98
        2006-03-03     87
        2006-03-07    103
                     ...
2016    2015-12-04     90
        2015-12-12     73
        2015-12-14     80
        2015-12-16    117
        2015-12-21     97
        2015-12-23    101
        2015-12-26    109
        2016-01-05     86
        2016-01-09    110
        2016-01-16    106
        2016-01-18     89
        2016-01-27     73
        2016-02-01     98
        2016-02-05     92
        2016-02-08     98
        2016-02-19     95
        2016-02-20    100
        2016-02-22     82
        2016-02-26     96
        2016-02-28     79
        2016-03-12     84
        2016-03-13     89
        2016-03-17    104
        2016-03-19     95
        2016-03-21     89
        2016-03-25     96
        2016-04-01     99
        2016-04-05     92
        2016-04-07     83
        2016-04-09    101
dtype: int64

In [297]:
team = 'ATL'

In [569]:
home.xs(([team,1]),level=['Home','OneisHome'])['FG']*2 + home.xs(([team,1]),level=['Home','OneisHome'])['3P']\
+ home.xs(([team,1]),level=['Home','OneisHome'])['FT']

Season  Date
2006    2005-11-08     97
        2005-11-10     95
        2005-11-12     84
        2005-11-23    120
        2005-11-27     75
        2005-11-30     74
        2005-12-02    101
        2005-12-10     94
        2005-12-16    122
        2005-12-18    110
        2005-12-23    111
        2005-12-27     90
        2006-01-03     97
        2006-01-07    101
        2006-01-10     94
        2006-01-14    106
        2006-01-16     94
        2006-01-18     89
        2006-01-20    102
        2006-01-23    104
        2006-01-25     97
        2006-01-27    106
        2006-01-30    120
        2006-02-03     96
        2006-02-07     99
        2006-02-22    109
        2006-02-25     89
        2006-02-27    104
        2006-03-03     93
        2006-03-07    113
                     ...
2016    2015-12-04    100
        2015-12-12     78
        2015-12-14     88
        2015-12-16    127
        2015-12-21    106
        2015-12-23    107
        2015-12-26    117
        2016-01-05    101
        2016-01-09    120
        2016-01-16    114
        2016-01-18     98
        2016-01-27     83
        2016-02-01    112
        2016-02-05    102
        2016-02-08    110
        2016-02-19    111
        2016-02-20    109
        2016-02-22     92
        2016-02-26    103
        2016-02-28     87
        2016-03-12     95
        2016-03-13    104
        2016-03-17    116
        2016-03-19    109
        2016-03-21    102
        2016-03-25    101
        2016-04-01    108
        2016-04-05    103
        2016-04-07     95
        2016-04-09    118
dtype: int64

In [570]:
home['Points'] = home['FG']*2 + home['3P'] + home['FT']

In [571]:
home.loc[(team, 1),'Points']

Season  Date
2006    2005-11-08     97
        2005-11-10     95
        2005-11-12     84
        2005-11-23    120
        2005-11-27     75
        2005-11-30     74
        2005-12-02    101
        2005-12-10     94
        2005-12-16    122
        2005-12-18    110
        2005-12-23    111
        2005-12-27     90
        2006-01-03     97
        2006-01-07    101
        2006-01-10     94
        2006-01-14    106
        2006-01-16     94
        2006-01-18     89
        2006-01-20    102
        2006-01-23    104
        2006-01-25     97
        2006-01-27    106
        2006-01-30    120
        2006-02-03     96
        2006-02-07     99
        2006-02-22    109
        2006-02-25     89
        2006-02-27    104
        2006-03-03     93
        2006-03-07    113
                     ...
2016    2015-12-04    100
        2015-12-12     78
        2015-12-14     88
        2015-12-16    127
        2015-12-21    106
        2015-12-23    107
        2015-12-26    117
        2016-01-05    101
        2016-01-09    120
        2016-01-16    114
        2016-01-18     98
        2016-01-27     83
        2016-02-01    112
        2016-02-05    102
        2016-02-08    110
        2016-02-19    111
        2016-02-20    109
        2016-02-22     92
        2016-02-26    103
        2016-02-28     87
        2016-03-12     95
        2016-03-13    104
        2016-03-17    116
        2016-03-19    109
        2016-03-21    102
        2016-03-25    101
        2016-04-01    108
        2016-04-05    103
        2016-04-07     95
        2016-04-09    118
Name: Points, dtype: int64

In [572]:
## screws up home
team = 'ATL'
free_throw = 1.1
home.loc[(team,1),'Points'] = (home.xs(([team,1]),level=['Home','OneisHome'])['FG']*2 + home.xs(([team,1]),level=\
                            ['Home','OneisHome'])['3P']+ home.xs(([team,1]),level=['Home','OneisHome'])['FT']\
                            +home.xs(([team,1]),level=['Home','OneisHome'])['FTA']*(free_throw-1)).values

In [573]:
away.loc[(team,0),'Points'] = (away.xs(([team,0]),level=['Away','OneisHome'])['FG']*2 + away.xs(([team,0]),level=\
                            ['Away','OneisHome'])['3P'] + away.xs(([team,0]),level=['Away','OneisHome'])['FT']+\
                            away.xs(([team,0]),level=['Away','OneisHome'])['FTA']*(free_throw-1)).values

In [574]:
away.loc[(team,0),'Points']

Season  Date
2006    2005-11-02     99.1
        2005-11-04     80.4
        2005-11-05     95.3
        2005-11-15     81.4
        2005-11-17     80.8
        2005-11-18     94.4
        2005-11-25     89.6
        2005-11-29     88.4
        2005-12-04     97.3
        2005-12-06    118.7
        2005-12-07     86.1
        2005-12-13    104.1
        2005-12-14    102.8
        2005-12-20     95.4
        2005-12-28    103.6
        2005-12-30     93.4
        2006-01-06    105.5
        2006-01-11     74.6
        2006-01-13     96.6
        2006-01-28    101.0
        2006-02-01    106.1
        2006-02-04     89.5
        2006-02-10     93.1
        2006-02-12     86.1
        2006-02-15    117.1
        2006-02-21     89.0
        2006-02-24    119.8
        2006-03-01    115.4
        2006-03-04     95.8
        2006-03-13     89.1
                      ...
2016    2015-12-10     96.3
        2015-12-18    111.9
        2015-12-20    105.0
        2015-12-28     89.5
        2015-12-29    123.5
        2016-01-03     99.0
        2016-01-07    127.9
        2016-01-13     86.1
        2016-01-15    101.6
        2016-01-20    106.3
        2016-01-21     89.5
        2016-01-23     96.8
        2016-01-25    121.6
        2016-01-28     94.1
        2016-01-31     90.2
        2016-02-03    126.5
        2016-02-07     95.5
        2016-02-10    114.5
        2016-03-01    107.4
        2016-03-04    108.6
        2016-03-05    109.0
        2016-03-08     92.4
        2016-03-10     98.7
        2016-03-16    121.4
        2016-03-23    124.2
        2016-03-26    113.4
        2016-03-28    104.8
        2016-03-30     98.3
        2016-04-11     95.5
        2016-04-13    101.1
Name: Points, dtype: float64

In [575]:
home.loc[(team,1),'Points']

Season  Date
2006    2005-11-08     99.6
        2005-11-10     97.7
        2005-11-12     85.9
        2005-11-23    123.8
        2005-11-27     77.6
        2005-11-30     76.0
        2005-12-02    102.5
        2005-12-10     96.8
        2005-12-16    125.2
        2005-12-18    111.9
        2005-12-23    112.7
        2005-12-27     91.3
        2006-01-03    101.1
        2006-01-07    103.0
        2006-01-10     96.1
        2006-01-14    109.8
        2006-01-16     95.7
        2006-01-18     92.0
        2006-01-20    105.3
        2006-01-23    107.0
        2006-01-25     99.2
        2006-01-27    107.7
        2006-01-30    123.6
        2006-02-03     98.8
        2006-02-07    100.4
        2006-02-22    111.8
        2006-02-25     92.2
        2006-02-27    107.0
        2006-03-03     95.3
        2006-03-07    117.0
                      ...
2016    2015-12-04    102.0
        2015-12-12     79.6
        2015-12-14     89.5
        2015-12-16    129.4
        2015-12-21    108.8
        2015-12-23    109.0
        2015-12-26    118.8
        2016-01-05    102.9
        2016-01-09    121.5
        2016-01-16    116.4
        2016-01-18     99.0
        2016-01-27     84.4
        2016-02-01    113.9
        2016-02-05    104.0
        2016-02-08    112.0
        2016-02-19    112.3
        2016-02-20    110.8
        2016-02-22     93.6
        2016-02-26    105.4
        2016-02-28     87.5
        2016-03-12     96.7
        2016-03-13    105.0
        2016-03-17    118.8
        2016-03-19    110.2
        2016-03-21    103.7
        2016-03-25    102.7
        2016-04-01    110.6
        2016-04-05    104.9
        2016-04-07     97.1
        2016-04-09    119.1
Name: Points, dtype: float64

In [577]:
home['Win'] = home.query('OneisHome == 1')['Points'] > home.query('OneisHome == 0')['Points']

In [578]:
away['Win'] = away.query('OneisHome == 0')['Points'] > away.query('OneisHome == 1')['Points']

In [579]:
home.xs((1),level='OneisHome')['Points']

Home  Season  Date
ATL   2006    2005-11-08     99.6
              2005-11-10     97.7
              2005-11-12     85.9
              2005-11-23    123.8
              2005-11-27     77.6
              2005-11-30     76.0
              2005-12-02    102.5
              2005-12-10     96.8
              2005-12-16    125.2
              2005-12-18    111.9
              2005-12-23    112.7
              2005-12-27     91.3
              2006-01-03    101.1
              2006-01-07    103.0
              2006-01-10     96.1
              2006-01-14    109.8
              2006-01-16     95.7
              2006-01-18     92.0
              2006-01-20    105.3
              2006-01-23    107.0
              2006-01-25     99.2
              2006-01-27    107.7
              2006-01-30    123.6
              2006-02-03     98.8
              2006-02-07    100.4
              2006-02-22    111.8
              2006-02-25     92.2
              2006-02-27    107.0
              2006-03-03     95.3
              2006-03-07    117.0
                            ...
WAS   2016    2015-12-19    109.0
              2015-12-21    113.0
              2015-12-23    100.0
              2015-12-28     91.0
              2016-01-01    103.0
              2016-01-03     75.0
              2016-01-06    115.0
              2016-01-08     88.0
              2016-01-13    106.0
              2016-01-16    117.0
              2016-01-18     98.0
              2016-01-20    106.0
              2016-01-25     91.0
              2016-01-28    113.0
              2016-02-03    121.0
              2016-02-05    106.0
              2016-02-18    103.0
              2016-02-19     98.0
              2016-02-23    109.0
              2016-02-28    113.0
              2016-02-29    116.0
              2016-03-05     99.0
              2016-03-14    124.0
              2016-03-16    117.0
              2016-03-19     99.0
              2016-03-23    101.0
              2016-03-25    129.0
              2016-04-06    121.0
              2016-04-10    113.0
              2016-04-13    109.0
Name: Points, dtype: float64

In [580]:
h = home.reset_index()

In [581]:
a = away.reset_index()

In [582]:
h.head()

,Home,OneisHome,Season,Date,FG,FGA,FG%,3P,3PA,3P%,...,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,SP,Points,Win
0,ATL,0,2006,2005-11-08,38,73,4.813,7,18,2.333,...,134.6,23.1,11.4,177.2,173.8,904,1150,14400,103,NaN
1,ATL,0,2006,2005-11-10,36,75,3.872,3,6,1.500,...,119.1,13.0,15.1,160.9,180.8,943,898,14400,102,NaN
2,ATL,0,2006,2005-11-12,29,72,2.882,7,23,0.929,...,106.1,12.7,13.4,121.1,220.5,801,1153,14400,85,NaN
3,ATL,0,2006,2005-11-23,40,73,5.605,11,19,2.300,...,110.2,17.3,38.4,229.8,177.1,1132,1415,14401,117,NaN
4,ATL,0,2006,2005-11-27,32,72,4.232,3,15,0.833,...,111.1,14.4,30.4,117.1,204.7,912,939,14400,77,NaN

In [583]:
home_wins = h.groupby(['Home','Season','Win']).sum()

In [584]:
away_wins = a.groupby(['Away','Season','Win']).count()

In [585]:
away_wins.xs(('ATL'),level='Away').head()

              OneisHome  Date  FG  FGA  FG%  3P  3PA  3P%  FT  FTA   ...    \
Season Win                                                           ...
2006   False         27    27  27   27   27  27   27   27  27   27   ...
       True          14    14  14   14   14  14   14   14  14   14   ...
2007   False         27    27  27   27   27  27   27   27  27   27   ...
       True          14    14  14   14   14  14   14   14  14   14   ...
2008   False         26    26  26   26   26  26   26   26  26   26   ...

              TRB%  AST%  STL%  BLK%  TOV%  USG%  ORtg  DRtg  SP  Points
Season Win
2006   False    27    27    27    27    27    27    27    27  27      27
       True     14    14    14    14    14    14    14    14  14      14
2007   False    27    27    27    27    27    27    27    27  27      27
       True     14    14    14    14    14    14    14    14  14      14
2008   False    26    26    26    26    26    26    26    26  26      26

[5 rows x 37 columns]

In [586]:
season_wins = home_wins['OneisHome'] + away_wins['OneisHome']

In [587]:
Actual_wins = season_wins.xs((True), level='Win')

In [588]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,TOV%,USG%,ORtg,DRtg,Away,Home,OneisHome,Date,SP,Season
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0.0,0.0,0,117,MIA,IND,1,2009-10-30,79,2010
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0.0,13.5,166,124,DEN,IND,1,2009-11-03,369,2010
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0.0,15.0,150,93,WAS,IND,1,2009-11-06,685,2010
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0.0,9.4,87,98,GSW,IND,1,2009-11-11,487,2010
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,22.5,36.1,115,118,IND,CHA,0,2009-11-22,332,2010

In [589]:
def boost_wins(df,team='ATL',free_throw=1.0):
    home = df.groupby(['Home','OneisHome','Season','Date']).sum()
    away = df.groupby(['Away','OneisHome','Season','Date']).sum()
    away['Points'] = away['FG']*2 + away['3P'] + away['FT']
    home['Points'] = home['FG']*2 + home['3P'] + home['FT']
    home.loc[(team,1),'Points'] = (home.xs(([team,1]),level=['Home','OneisHome'])['FG']*2 + home.xs(([team,1]),\
        level=['Home','OneisHome'])['3P'] + home.xs(([team,1]),level=['Home','OneisHome'])['FT']+home.xs(([team,1]),\
        level=['Home','OneisHome'])['FTA']*(free_throw-1)).values
    away.loc[(team,0),'Points'] = (away.xs(([team,0]),level=['Away','OneisHome'])['FG']*2 + away.xs(([team,0]),\
        level=['Away','OneisHome'])['3P'] + away.xs(([team,0]),level=['Away','OneisHome'])['FT']+away.xs(([team,0]),\
        level=['Away','OneisHome'])['FTA']*(free_throw-1)).values
    home['Win'] = home.query('OneisHome == 1')['Points'] > home.query('OneisHome == 0')['Points']
    away['Win'] = away.query('OneisHome == 0')['Points'] > away.query('OneisHome == 1')['Points']
    h = home.reset_index()
    a = away.reset_index()
    a = a[a['Away']==team]
    h = h[h['Home']==team]
    home_wins = h.groupby(['Home','Season','Win']).sum()
    away_wins = a.groupby(['Away','Season','Win']).count()
    season_wins = home_wins['OneisHome'] + away_wins['OneisHome']
    Actual_wins = season_wins.xs((True), level='Win')
    return Actual_wins

In [591]:
team_set = set(df['Home'])

In [599]:
# np.mean(lst)

In [594]:
ATL = boost_wins(df, free_throw=1.1)

In [595]:
ATLnorm = boost_wins(df)

In [596]:
ATLnorm

Home  Season
ATL   2006      26
      2007      30
      2008      37
      2009      47
      2010      53
      2011      44
      2012      40
      2013      44
      2014      38
      2015      60
      2016      48
Name: OneisHome, dtype: int64

In [597]:
ATL

Home  Season
ATL   2006      35
      2007      36
      2008      42
      2009      51
      2010      56
      2011      44
      2012      45
      2013      48
      2014      42
      2015      62
      2016      50
Name: OneisHome, dtype: int64

In [598]:
np.mean(ATL)-np.mean(ATLnorm)

4.0

In [601]:
def win_diff(df, team, free_throw=1.0):
    team_boost = boost_wins(df, team, free_throw)
    team_norm = ATLnorm = boost_wins(df, team)
    diff = np.round(np.mean(team_boost)-np.mean(team_norm),2)
    print team, diff

In [602]:
lst = []
for a_team in team_set:
    win_diff(df, a_team, free_throw=1.1)

MIL 3.36
GSW 2.82
MIN 2.91
MIA 3.18
ATL 4.0
BOS 3.82
DET 2.91
NYK 3.73
DEN 4.18
DAL 3.27
OKC 4.0
POR 2.91
NJN 3.86
TOR 3.55
SEA 4.33
CLE 3.82
SAS 1.64
CHA 3.67
UTA 3.91
CHI 3.36
CHO 2.0
HOU 2.82
NOH 1.17
WAS 4.27
LAL 3.73
PHI 4.45
PHO 2.73
NOK 4.0
MEM 3.45
LAC 3.36
SAC 4.18
ORL 3.64
BRK 2.75
IND 4.09
NOP 2.67

In [603]:
for a_team in team_set:
    win_diff(df, a_team, free_throw=1.05)

MIL 0.91
GSW 1.45
MIN 1.0
MIA 1.36
ATL 1.45
BOS 1.64
DET 1.0
NYK 0.45
DEN 1.0
DAL 0.91
OKC 1.25
POR 0.55
NJN 1.0
TOR 1.0
SEA 0.67
CLE 1.18
SAS 0.45
CHA 1.44
UTA 1.18
CHI 1.36
CHO 0.5
HOU 0.82
NOH 0.33
WAS 1.36
LAL 1.55
PHI 1.45
PHO 0.36
NOK 0.5
MEM 0.73
LAC 0.91
SAC 1.18
ORL 1.0
BRK 1.0
IND 1.09
NOP 0.67

In [430]:
away_wins['OneisHome']

Away  Season  Win
ATL   2006    False    27
              True     14
      2007    False    27
              True     14
      2008    False    26
              True     15
      2009    False    22
              True     19
      2010    False    19
              True     22
      2011    False    21
              True     20
      2012    False    12
              True     21
      2013    False    19
              True     22
      2014    False    25
              True     16
      2015    False    14
              True     27
      2016    False    20
              True     21
Name: OneisHome, dtype: int64