In [3]:
import requests
from bs4 import BeautifulSoup
from datetime import date, timedelta as td
import re
import time
import os

In [4]:
base_url = 'http://espn.go.com/nba/attendance/_/year/'
response = requests.get(base_url)
soup = BeautifulSoup(response.content, 'lxml')

In [11]:
years = [num for num in xrange(2009,2017)]

In [12]:
years

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [14]:
urls = [base_url + str(year) for year in years]

In [15]:
urls

['http://espn.go.com/nba/attendance/_/year/2009',
 'http://espn.go.com/nba/attendance/_/year/2010',
 'http://espn.go.com/nba/attendance/_/year/2011',
 'http://espn.go.com/nba/attendance/_/year/2012',
 'http://espn.go.com/nba/attendance/_/year/2013',
 'http://espn.go.com/nba/attendance/_/year/2014',
 'http://espn.go.com/nba/attendance/_/year/2015',
 'http://espn.go.com/nba/attendance/_/year/2016']

In [16]:
responses = [requests.get(url) for url in urls]

In [21]:
soups = [BeautifulSoup(response.content, 'lxml') for response in responses]

In [65]:
home_team = [soup.select('table.tablehead tr td.sortcell')[idx].contents[0].encode('ascii') for soup in soups for idx in xrange(30)]

In [66]:
home_team

['21,877',
 '21,197',
 '20,524',
 '20,042',
 '20,010',
 '19,903',
 '19,287',
 '18,997',
 '18,942',
 '18,773',
 '18,693',
 '18,624',
 '18,422',
 '18,269',
 '18,229',
 '17,482',
 '17,223',
 '17,043',
 '16,968',
 '16,748',
 '16,612',
 '16,170',
 '15,802',
 '15,389',
 '15,147',
 '14,526',
 '14,505',
 '14,182',
 '12,745',
 '12,571',
 '20,725',
 '20,562',
 '20,497',
 '19,994',
 '19,501',
 '19,378',
 '18,997',
 '18,751',
 '18,169',
 '18,089',
 '18,027',
 '18,003',
 '17,995',
 '17,897',
 '17,730',
 '17,648',
 '17,461',
 '16,545',
 '16,528',
 '16,343',
 '16,204',
 '15,824',
 '15,130',
 '15,108',
 '15,101',
 '14,224',
 '14,202',
 '13,485',
 '13,254',
 '13,103',
 '21,791',
 '20,510',
 '20,112',
 '20,101',
 '19,778',
 '19,728',
 '19,511',
 '18,997',
 '18,972',
 '18,692',
 '18,624',
 '18,314',
 '18,148',
 '17,742',
 '17,567',
 '16,901',
 '16,791',
 '16,660',
 '16,566',
 '16,191',
 '15,846',
 '15,648',
 '15,412',
 '15,242',
 '14,751',
 '14,709',
 '14,650',
 '14,179',
 '13,890',
 '13,538',
 '22,161',
 '20,496',
 '20,334',
 '19,935',
 '19,763',
 '19,306',
 '19,219',
 '18,997',
 '18,896',
 '18,857',
 '18,624',
 '18,396',
 '18,203',
 '17,502',
 '17,490',
 '17,029',
 '16,835',
 '16,728',
 '15,926',
 '15,704',
 '15,597',
 '15,363',
 '15,199',
 '15,109',
 '14,757',
 '14,718',
 '14,508',
 '14,413',
 '14,168',
 '13,961',
 '21,876',
 '20,036',
 '19,982',
 '19,829',
 '19,373',
 '19,226',
 '19,033',
 '18,997',
 '18,680',
 '18,624',
 '18,431',
 '18,203',
 '18,144',
 '17,819',
 '17,595',
 '17,187',
 '16,717',
 '16,672',
 '16,624',
 '16,343',
 '16,340',
 '16,192',
 '15,436',
 '15,324',
 '15,269',
 '15,125',
 '15,035',
 '14,782',
 '13,803',
 '13,749',
 '21,716',
 '19,950',
 '19,812',
 '19,781',
 '19,746',
 '19,596',
 '19,212',
 '18,828',
 '18,415',
 '18,252',
 '18,203',
 '18,175',
 '18,123',
 '18,107',
 '17,501',
 '17,329',
 '17,251',
 '17,026',
 '16,899',
 '16,718',
 '16,390',
 '16,291',
 '16,245',
 '15,871',
 '15,518',
 '15,005',
 '14,564',
 '14,339',
 '13,869',
 '13,487',
 '21,343',
 '20,562',
 '20,187',
 '19,812',
 '19,751',
 '19,712',
 '19,596',
 '19,554',
 '19,168',
 '18,830',
 '18,737',
 '18,606',
 '18,238',
 '18,229',
 '18,203',
 '17,593',
 '17,412',
 '17,329',
 '17,192',
 '17,037',
 '16,923',
 '16,864',
 '16,785',
 '16,677',
 '16,586',
 '15,266',
 '14,907',
 '14,700',
 '14,528',
 '13,940',
 '21,820',
 '20,562',
 '20,143',
 '19,825',
 '19,812',
 '19,740',
 '19,596',
 '19,367',
 '19,304',
 '19,192',
 '18,997',
 '18,449',
 '18,270',
 '18,203',
 '17,981',
 '17,693',
 '17,543',
 '17,485',
 '17,256',
 '17,107',
 '16,847',
 '16,832',
 '16,793',
 '16,697',
 '16,515',
 '15,166',
 '15,125',
 '14,881',
 '14,175',
 '14,095']

In [188]:
odds = [soup.findAll("tr", { "class" : "oddrow" }) for soup in soups]
evens = [soup.findAll("tr", { "class" : "evenrow" }) for soup in soups]

In [222]:
soupodd = [BeautifulSoup(str(odd)) for odd in odds]
soupeven = [BeautifulSoup(str(even)) for even in evens]

In [223]:
even_teams = [soup.select('tr td a[href]')[idx].contents[0].encode('ascii') for soup in soupeven for idx in xrange(15)]
odd_teams = [soup.select('tr td a[href]')[idx].contents[0].encode('ascii') for soup in soupodd for idx in xrange(15)]

In [226]:
all_teams = [None] * (len(odd_teams) + len(even_teams))
all_teams[::2] = odd_teams
all_teams[1::2] = even_teams

In [303]:
all_teams[:5]

['Pistons', 'Bulls', 'Trail Blazers', 'Mavericks', 'Cavaliers']

In [320]:
def add_year(lst):
    team_year = []
    n = len(lst)
    for i in xrange(n):
        team_year.append((lst[i], 2009+(i/30)))
    return team_year

In [322]:
team_year = add_year(all_teams)

In [323]:
team_year_attend = [team_year[idx] + (home_team[idx],) for idx in xrange(len(team_year))]

In [324]:
team_year_attend

[('Pistons', 2009, '21,877'),
 ('Bulls', 2009, '21,197'),
 ('Trail Blazers', 2009, '20,524'),
 ('Mavericks', 2009, '20,042'),
 ('Cavaliers', 2009, '20,010'),
 ('Jazz', 2009, '19,903'),
 ('NY Knicks', 2009, '19,287'),
 ('Lakers', 2009, '18,997'),
 ('Warriors', 2009, '18,942'),
 ('Raptors', 2009, '18,773'),
 ('Thunder', 2009, '18,693'),
 ('Celtics', 2009, '18,624'),
 ('Suns', 2009, '18,422'),
 ('Spurs', 2009, '18,269'),
 ('Heat', 2009, '18,229'),
 ('Rockets', 2009, '17,482'),
 ('Nuggets', 2009, '17,223'),
 ('Magic', 2009, '17,043'),
 ('Pelicans', 2009, '16,968'),
 ('Hawks', 2009, '16,748'),
 ('Wizards', 2009, '16,612'),
 ('Clippers', 2009, '16,170'),
 ('76ers', 2009, '15,802'),
 ('Bucks', 2009, '15,389'),
 ('Nets', 2009, '15,147'),
 ('Hornets', 2009, '14,526'),
 ('Timberwolves', 2009, '14,505'),
 ('Pacers', 2009, '14,182'),
 ('Grizzlies', 2009, '12,745'),
 ('Kings', 2009, '12,571'),
 ('Bulls', 2010, '20,725'),
 ('Cavaliers', 2010, '20,562'),
 ('Trail Blazers', 2010, '20,497'),
 ('Mavericks', 2010, '19,994'),
 ('NY Knicks', 2010, '19,501'),
 ('Jazz', 2010, '19,378'),
 ('Lakers', 2010, '18,997'),
 ('Pistons', 2010, '18,751'),
 ('Celtics', 2010, '18,169'),
 ('Spurs', 2010, '18,089'),
 ('Warriors', 2010, '18,027'),
 ('Thunder', 2010, '18,003'),
 ('Nuggets', 2010, '17,995'),
 ('Raptors', 2010, '17,897'),
 ('Heat', 2010, '17,730'),
 ('Suns', 2010, '17,648'),
 ('Magic', 2010, '17,461'),
 ('Hawks', 2010, '16,545'),
 ('Rockets', 2010, '16,528'),
 ('Clippers', 2010, '16,343'),
 ('Wizards', 2010, '16,204'),
 ('Hornets', 2010, '15,824'),
 ('Pelicans', 2010, '15,130'),
 ('Bucks', 2010, '15,108'),
 ('Timberwolves', 2010, '15,101'),
 ('76ers', 2010, '14,224'),
 ('Pacers', 2010, '14,202'),
 ('Grizzlies', 2010, '13,485'),
 ('Kings', 2010, '13,254'),
 ('Nets', 2010, '13,103'),
 ('Bulls', 2011, '21,791'),
 ('Trail Blazers', 2011, '20,510'),
 ('Cavaliers', 2011, '20,112'),
 ('Mavericks', 2011, '20,101'),
 ('Heat', 2011, '19,778'),
 ('NY Knicks', 2011, '19,728'),
 ('Jazz', 2011, '19,511'),
 ('Lakers', 2011, '18,997'),
 ('Magic', 2011, '18,972'),
 ('Warriors', 2011, '18,692'),
 ('Celtics', 2011, '18,624'),
 ('Spurs', 2011, '18,314'),
 ('Thunder', 2011, '18,148'),
 ('Clippers', 2011, '17,742'),
 ('Suns', 2011, '17,567'),
 ('Nuggets', 2011, '16,901'),
 ('Wizards', 2011, '16,791'),
 ('Pistons', 2011, '16,660'),
 ('Raptors', 2011, '16,566'),
 ('Rockets', 2011, '16,191'),
 ('Hornets', 2011, '15,846'),
 ('Hawks', 2011, '15,648'),
 ('Bucks', 2011, '15,412'),
 ('Timberwolves', 2011, '15,242'),
 ('76ers', 2011, '14,751'),
 ('Pelicans', 2011, '14,709'),
 ('Grizzlies', 2011, '14,650'),
 ('Nets', 2011, '14,179'),
 ('Kings', 2011, '13,890'),
 ('Pacers', 2011, '13,538'),
 ('Bulls', 2012, '22,161'),
 ('Trail Blazers', 2012, '20,496'),
 ('Mavericks', 2012, '20,334'),
 ('Heat', 2012, '19,935'),
 ('NY Knicks', 2012, '19,763'),
 ('Jazz', 2012, '19,306'),
 ('Clippers', 2012, '19,219'),
 ('Lakers', 2012, '18,997'),
 ('Magic', 2012, '18,896'),
 ('Warriors', 2012, '18,857'),
 ('Celtics', 2012, '18,624'),
 ('Spurs', 2012, '18,396'),
 ('Thunder', 2012, '18,203'),
 ('76ers', 2012, '17,502'),
 ('Timberwolves', 2012, '17,490'),
 ('Nuggets', 2012, '17,029'),
 ('Raptors', 2012, '16,835'),
 ('Wizards', 2012, '16,728'),
 ('Cavaliers', 2012, '15,926'),
 ('Grizzlies', 2012, '15,704'),
 ('Suns', 2012, '15,597'),
 ('Rockets', 2012, '15,363'),
 ('Hawks', 2012, '15,199'),
 ('Pelicans', 2012, '15,109'),
 ('Hornets', 2012, '14,757'),
 ('Bucks', 2012, '14,718'),
 ('Kings', 2012, '14,508'),
 ('Pistons', 2012, '14,413'),
 ('Pacers', 2012, '14,168'),
 ('Nets', 2012, '13,961'),
 ('Bulls', 2013, '21,876'),
 ('Mavericks', 2013, '20,036'),
 ('Heat', 2013, '19,982'),
 ('Trail Blazers', 2013, '19,829'),
 ('Warriors', 2013, '19,373'),
 ('Clippers', 2013, '19,226'),
 ('NY Knicks', 2013, '19,033'),
 ('Lakers', 2013, '18,997'),
 ('Jazz', 2013, '18,680'),
 ('Celtics', 2013, '18,624'),
 ('Spurs', 2013, '18,431'),
 ('Thunder', 2013, '18,203'),
 ('Raptors', 2013, '18,144'),
 ('Nuggets', 2013, '17,819'),
 ('Magic', 2013, '17,595'),
 ('Nets', 2013, '17,187'),
 ('76ers', 2013, '16,717'),
 ('Rockets', 2013, '16,672'),
 ('Grizzlies', 2013, '16,624'),
 ('Wizards', 2013, '16,343'),
 ('Timberwolves', 2013, '16,340'),
 ('Cavaliers', 2013, '16,192'),
 ('Suns', 2013, '15,436'),
 ('Hornets', 2013, '15,324'),
 ('Pacers', 2013, '15,269'),
 ('Hawks', 2013, '15,125'),
 ('Bucks', 2013, '15,035'),
 ('Pistons', 2013, '14,782'),
 ('Pelicans', 2013, '13,803'),
 ('Kings', 2013, '13,749'),
 ('Bulls', 2014, '21,716'),
 ('Mavericks', 2014, '19,950'),
 ('NY Knicks', 2014, '19,812'),
 ('Heat', 2014, '19,781'),
 ('Trail Blazers', 2014, '19,746'),
 ('Warriors', 2014, '19,596'),
 ('Clippers', 2014, '19,212'),
 ('Lakers', 2014, '18,828'),
 ('Spurs', 2014, '18,415'),
 ('Raptors', 2014, '18,252'),
 ('Thunder', 2014, '18,203'),
 ('Jazz', 2014, '18,175'),
 ('Rockets', 2014, '18,123'),
 ('Celtics', 2014, '18,107'),
 ('Pacers', 2014, '17,501'),
 ('Cavaliers', 2014, '17,329'),
 ('Nets', 2014, '17,251'),
 ('Wizards', 2014, '17,026'),
 ('Nuggets', 2014, '16,899'),
 ('Grizzlies', 2014, '16,718'),
 ('Pelicans', 2014, '16,390'),
 ('Kings', 2014, '16,291'),
 ('Magic', 2014, '16,245'),
 ('Suns', 2014, '15,871'),
 ('Hornets', 2014, '15,518'),
 ('Pistons', 2014, '15,005'),
 ('Timberwolves', 2014, '14,564'),
 ('Hawks', 2014, '14,339'),
 ('76ers', 2014, '13,869'),
 ('Bucks', 2014, '13,487'),
 ('Bulls', 2015, '21,343'),
 ('Cavaliers', 2015, '20,562'),
 ('Mavericks', 2015, '20,187'),
 ('NY Knicks', 2015, '19,812'),
 ('Raptors', 2015, '19,751'),
 ('Heat', 2015, '19,712'),
 ('Warriors', 2015, '19,596'),
 ('Trail Blazers', 2015, '19,554'),
 ('Clippers', 2015, '19,168'),
 ('Jazz', 2015, '18,830'),
 ('Lakers', 2015, '18,737'),
 ('Spurs', 2015, '18,606'),
 ('Wizards', 2015, '18,238'),
 ('Rockets', 2015, '18,229'),
 ('Thunder', 2015, '18,203'),
 ('Celtics', 2015, '17,593'),
 ('Hawks', 2015, '17,412'),
 ('Grizzlies', 2015, '17,329'),
 ('Hornets', 2015, '17,192'),
 ('Nets', 2015, '17,037'),
 ('Suns', 2015, '16,923'),
 ('Pacers', 2015, '16,864'),
 ('Magic', 2015, '16,785'),
 ('Pelicans', 2015, '16,677'),
 ('Kings', 2015, '16,586'),
 ('Pistons', 2015, '15,266'),
 ('Bucks', 2015, '14,907'),
 ('Nuggets', 2015, '14,700'),
 ('Timberwolves', 2015, '14,528'),
 ('76ers', 2015, '13,940'),
 ('Bulls', 2016, '21,820'),
 ('Cavaliers', 2016, '20,562'),
 ('Mavericks', 2016, '20,143'),
 ('Raptors', 2016, '19,825'),
 ('NY Knicks', 2016, '19,812'),
 ('Heat', 2016, '19,740'),
 ('Warriors', 2016, '19,596'),
 ('Trail Blazers', 2016, '19,367'),
 ('Jazz', 2016, '19,304'),
 ('Clippers', 2016, '19,192'),
 ('Lakers', 2016, '18,997'),
 ('Spurs', 2016, '18,449'),
 ('Celtics', 2016, '18,270'),
 ('Thunder', 2016, '18,203'),
 ('Rockets', 2016, '17,981'),
 ('Wizards', 2016, '17,693'),
 ('Magic', 2016, '17,543'),
 ('Hornets', 2016, '17,485'),
 ('Kings', 2016, '17,256'),
 ('Suns', 2016, '17,107'),
 ('Pacers', 2016, '16,847'),
 ('Hawks', 2016, '16,832'),
 ('Pelicans', 2016, '16,793'),
 ('Grizzlies', 2016, '16,697'),
 ('Pistons', 2016, '16,515'),
 ('Bucks', 2016, '15,166'),
 ('Nets', 2016, '15,125'),
 ('76ers', 2016, '14,881'),
 ('Timberwolves', 2016, '14,175'),
 ('Nuggets', 2016, '14,095')]

## Basketball Reference

In [337]:
NBA2016_URL = 'http://www.basketball-reference.com/leagues/NBA_2016.html'
response = requests.get(NBA2016_URL)
soup = BeautifulSoup(response.content, 'lxml')

In [344]:
links = [soup.select('table.wide_table tbody tr td a[href]')[idx] for idx in xrange(30,60)]

In [345]:
add_ons = [link['href'] for link in links]
len(add_ons)

30

In [366]:
add_ons[:5]

['/teams/CLE/2016.html',
 '/teams/TOR/2016.html',
 '/teams/MIA/2016.html',
 '/teams/ATL/2016.html',
 '/teams/BOS/2016.html']

In [347]:
basketball_base = 'http://www.basketball-reference.com'
full_links = [basketball_base + add_on for add_on in add_ons]

In [348]:
responses = [requests.get(link) for link in full_links]

In [349]:
soups = [BeautifulSoup(response.content, 'lxml') for response in responses]

In [359]:
team_averages = [soup.select('tr.stat_average td') for soup in soups]

In [360]:
team_averages[0][17].contents[0].encode('ascii')

'1783'

In [361]:
FTA = [team_averages[idx][17].contents[0].encode('ascii') for idx in xrange(len(team_averages))]

In [365]:
FTA[:5]

['1783', '2190', '1889', '1638', '1929']

## Now for every year

In [367]:
NBA_URLS = ['http://www.basketball-reference.com/leagues/NBA_' + str(year) + '.html' for year in xrange(2009,2017)]

In [368]:
NBA_URLS

['http://www.basketball-reference.com/leagues/NBA_2009.html',
 'http://www.basketball-reference.com/leagues/NBA_2010.html',
 'http://www.basketball-reference.com/leagues/NBA_2011.html',
 'http://www.basketball-reference.com/leagues/NBA_2012.html',
 'http://www.basketball-reference.com/leagues/NBA_2013.html',
 'http://www.basketball-reference.com/leagues/NBA_2014.html',
 'http://www.basketball-reference.com/leagues/NBA_2015.html',
 'http://www.basketball-reference.com/leagues/NBA_2016.html']

In [369]:
responses = [requests.get(NBA_URL) for NBA_URL in NBA_URLS]
soups = [BeautifulSoup(response.content, 'lxml') for response in responses]

In [373]:
len(soups)

8

In [378]:
links = [soup.select('table.wide_table tbody tr td a[href]')[idx] for soup in soups for idx in xrange(0,30)]

In [391]:
teams = [soup.select('table.wide_table tbody tr td a[href]')[idx].contents[0].encode('ascii') for soup in soups for idx in xrange(0,30)]

In [458]:
wins = [soup.select('table#team_misc tbody tr td')[idx].contents[0].encode('ascii') for soup in soups for idx in xrange(0,30)]

In [466]:
lst_wins = [wins[1+30*i] for i in xrange(240)]

In [467]:
lst_loss = [wins[2+30*i] for i in xrange(240)]

In [393]:
teams[:5]

['Boston Celtics',
 'Philadelphia 76ers',
 'New Jersey Nets',
 'Toronto Raptors',
 'New York Knicks']

In [394]:
links[:5]

[<a href="/teams/BOS/2009.html">Boston Celtics</a>,
 <a href="/teams/PHI/2009.html">Philadelphia 76ers</a>,
 <a href="/teams/NJN/2009.html">New Jersey Nets</a>,
 <a href="/teams/TOR/2009.html">Toronto Raptors</a>,
 <a href="/teams/NYK/2009.html">New York Knicks</a>]

In [395]:
add_ons = [link['href'] for link in links]
add_ons[:5]

['/teams/BOS/2009.html',
 '/teams/PHI/2009.html',
 '/teams/NJN/2009.html',
 '/teams/TOR/2009.html',
 '/teams/NYK/2009.html']

In [396]:
full_links = [basketball_base + add_on for add_on in add_ons]

In [397]:
responses = [requests.get(link) for link in full_links]
soups = [BeautifulSoup(response.content, 'lxml') for response in responses]
team_averages = [soup.select('tr.stat_average td') for soup in soups]
FTA = [team_averages[idx][17].contents[0].encode('ascii') for idx in xrange(len(team_averages))]

In [420]:
Games = [team_averages[idx][3].contents[0].encode('ascii') for idx in xrange(len(team_averages))]

In [414]:
FTA[:5]

['2075', '2216', '1980', '1861', '1900']

In [424]:
FTA_Per_Game = [float(FTA[idx])/float(Games[idx]) for idx in xrange(len(FTA))]

In [426]:
Team_FTA = [(teams[idx], FTA_Per_Game[idx]) for idx in xrange(len(FTA_Per_Game))]

In [427]:
Team_FTA_Year = [(2009+i/30,) + tup for i, tup in enumerate(Team_FTA)]

In [470]:
Team_FTA_Year_WL = [Team_FTA_Year[idx] + (lst_wins[idx], lst_loss[idx]) for idx in xrange(len(Team_FTA_Year))]

In [472]:
import pandas as pd

In [471]:
Team_FTA_Year_WL

[(2009, 'Boston Celtics', 25.304878048780488, '61', '21'),
 (2009, 'Philadelphia 76ers', 27.024390243902438, '41', '41'),
 (2009, 'New Jersey Nets', 24.146341463414632, '34', '48'),
 (2009, 'Toronto Raptors', 22.695121951219512, '33', '49'),
 (2009, 'New York Knicks', 23.170731707317074, '34', '48'),
 (2009, 'Cleveland Cavaliers', 24.536585365853657, '65', '17'),
 (2009, 'Chicago Bulls', 25.024390243902438, '40', '42'),
 (2009, 'Detroit Pistons', 22.548780487804876, '40', '42'),
 (2009, 'Indiana Pacers', 23.048780487804876, '38', '44'),
 (2009, 'Milwaukee Bucks', 25.20731707317073, '38', '44'),
 (2009, 'Orlando Magic', 27.475609756097562, '59', '23'),
 (2009, 'Atlanta Hawks', 25.426829268292682, '46', '36'),
 (2009, 'Miami Heat', 22.817073170731707, '42', '40'),
 (2009, 'Charlotte Bobcats', 23.963414634146343, '37', '45'),
 (2009, 'Washington Wizards', 23.75609756097561, '21', '61'),
 (2009, 'Denver Nuggets', 30.329268292682926, '50', '32'),
 (2009, 'Portland Trail Blazers', 24.24390243902439, '56', '26'),
 (2009, 'Utah Jazz', 28.682926829268293, '48', '34'),
 (2009, 'Minnesota Timberwolves', 23.865853658536587, '27', '55'),
 (2009, 'Oklahoma City Thunder', 25.23170731707317, '24', '58'),
 (2009, 'Los Angeles Lakers', 25.451219512195124, '61', '21'),
 (2009, 'Phoenix Suns', 27.451219512195124, '46', '36'),
 (2009, 'Golden State Warriors', 29.170731707317074, '31', '51'),
 (2009, 'Los Angeles Clippers', 22.426829268292682, '18', '64'),
 (2009, 'Sacramento Kings', 25.695121951219512, '19', '63'),
 (2009, 'San Antonio Spurs', 20.01219512195122, '52', '30'),
 (2009, 'Houston Rockets', 23.20731707317073, '53', '29'),
 (2009, 'Dallas Mavericks', 22.585365853658537, '47', '35'),
 (2009, 'New Orleans Hornets', 22.353658536585368, '46', '36'),
 (2009, 'Memphis Grizzlies', 25.329268292682926, '26', '56'),
 (2010, 'Boston Celtics', 25.48780487804878, '52', '30'),
 (2010, 'Toronto Raptors', 25.829268292682926, '36', '46'),
 (2010, 'New York Knicks', 21.451219512195124, '31', '51'),
 (2010, 'Philadelphia 76ers', 22.048780487804876, '30', '52'),
 (2010, 'New Jersey Nets', 24.573170731707318, '17', '65'),
 (2010, 'Cleveland Cavaliers', 26.585365853658537, '59', '23'),
 (2010, 'Milwaukee Bucks', 20.426829268292682, '46', '36'),
 (2010, 'Chicago Bulls', 23.926829268292682, '36', '46'),
 (2010, 'Indiana Pacers', 24.621951219512194, '33', '49'),
 (2010, 'Detroit Pistons', 24.365853658536587, '26', '56'),
 (2010, 'Orlando Magic', 26.536585365853657, '61', '21'),
 (2010, 'Atlanta Hawks', 23.341463414634145, '54', '28'),
 (2010, 'Miami Heat', 23.548780487804876, '48', '34'),
 (2010, 'Charlotte Bobcats', 26.585365853658537, '45', '37'),
 (2010, 'Washington Wizards', 23.109756097560975, '28', '54'),
 (2010, 'Denver Nuggets', 30.585365853658537, '52', '30'),
 (2010, 'Utah Jazz', 27.23170731707317, '55', '27'),
 (2010, 'Portland Trail Blazers', 24.79268292682927, '51', '31'),
 (2010, 'Oklahoma City Thunder', 26.951219512195124, '51', '31'),
 (2010, 'Minnesota Timberwolves', 23.48780487804878, '17', '65'),
 (2010, 'Los Angeles Lakers', 24.20731707317073, '54', '28'),
 (2010, 'Phoenix Suns', 25.817073170731707, '54', '28'),
 (2010, 'Los Angeles Clippers', 22.76829268292683, '24', '58'),
 (2010, 'Golden State Warriors', 25.426829268292682, '32', '50'),
 (2010, 'Sacramento Kings', 24.01219512195122, '29', '53'),
 (2010, 'Dallas Mavericks', 22.804878048780488, '49', '33'),
 (2010, 'San Antonio Spurs', 24.01219512195122, '55', '27'),
 (2010, 'Houston Rockets', 24.658536585365855, '40', '42'),
 (2010, 'Memphis Grizzlies', 26.853658536585368, '37', '45'),
 (2010, 'New Orleans Hornets', 20.25609756097561, '34', '48'),
 (2011, 'Boston Celtics', 23.109756097560975, '57', '25'),
 (2011, 'New York Knicks', 25.451219512195124, '43', '39'),
 (2011, 'Philadelphia 76ers', 22.573170731707318, '45', '37'),
 (2011, 'New Jersey Nets', 22.9390243902439, '24', '58'),
 (2011, 'Toronto Raptors', 24.097560975609756, '24', '58'),
 (2011, 'Chicago Bulls', 24.48780487804878, '61', '21'),
 (2011, 'Indiana Pacers', 24.817073170731707, '38', '44'),
 (2011, 'Milwaukee Bucks', 22.9390243902439, '38', '44'),
 (2011, 'Detroit Pistons', 22.609756097560975, '31', '51'),
 (2011, 'Cleveland Cavaliers', 25.304878048780488, '18', '64'),
 (2011, 'Miami Heat', 27.902439024390244, '61', '21'),
 (2011, 'Orlando Magic', 25.621951219512194, '56', '26'),
 (2011, 'Atlanta Hawks', 21.073170731707318, '39', '43'),
 (2011, 'Charlotte Bobcats', 24.378048780487806, '29', '53'),
 (2011, 'Washington Wizards', 24.378048780487806, '22', '60'),
 (2011, 'Oklahoma City Thunder', 29.28048780487805, '51', '31'),
 (2011, 'Denver Nuggets', 29.621951219512194, '54', '28'),
 (2011, 'Portland Trail Blazers', 22.378048780487806, '46', '36'),
 (2011, 'Utah Jazz', 25.134146341463413, '36', '46'),
 (2011, 'Minnesota Timberwolves', 24.109756097560975, '24', '58'),
 (2011, 'Los Angeles Lakers', 24.134146341463413, '58', '24'),
 (2011, 'Phoenix Suns', 23.646341463414632, '39', '43'),
 (2011, 'Golden State Warriors', 20.670731707317074, '35', '47'),
 (2011, 'Los Angeles Clippers', 26.670731707317074, '32', '50'),
 (2011, 'Sacramento Kings', 24.158536585365855, '27', '55'),
 (2011, 'San Antonio Spurs', 24.195121951219512, '56', '26'),
 (2011, 'Dallas Mavericks', 22.5609756097561, '53', '29'),
 (2011, 'New Orleans Hornets', 23.134146341463413, '44', '38'),
 (2011, 'Memphis Grizzlies', 24.158536585365855, '48', '34'),
 (2011, 'Houston Rockets', 25.402439024390244, '47', '35'),
 (2012, 'Boston Celtics', 19.818181818181817, '39', '27'),
 (2012, 'New York Knicks', 24.757575757575758, '41', '25'),
 (2012, 'Philadelphia 76ers', 18.151515151515152, '43', '23'),
 (2012, 'Toronto Raptors', 21.363636363636363, '25', '41'),
 (2012, 'New Jersey Nets', 21.71212121212121, '19', '47'),
 (2012, 'Chicago Bulls', 21.12121212121212, '51', '15'),
 (2012, 'Indiana Pacers', 26.12121212121212, '41', '25'),
 (2012, 'Milwaukee Bucks', 21.439393939393938, '34', '32'),
 (2012, 'Detroit Pistons', 22.136363636363637, '22', '44'),
 (2012, 'Cleveland Cavaliers', 24.924242424242426, '17', '49'),
 (2012, 'Miami Heat', 24.21212121212121, '47', '19'),
 (2012, 'Atlanta Hawks', 20.984848484848484, '41', '25'),
 (2012, 'Orlando Magic', 22.848484848484848, '35', '31'),
 (2012, 'Washington Wizards', 21.0, '22', '44'),
 (2012, 'Charlotte Bobcats', 22.151515151515152, '7', '59'),
 (2012, 'Oklahoma City Thunder', 26.424242424242426, '46', '20'),
 (2012, 'Denver Nuggets', 26.666666666666668, '39', '27'),
 (2012, 'Utah Jazz', 25.272727272727273, '34', '32'),
 (2012, 'Portland Trail Blazers', 21.560606060606062, '32', '34'),
 (2012, 'Minnesota Timberwolves', 25.181818181818183, '28', '38'),
 (2012, 'Los Angeles Lakers', 24.075757575757574, '36', '30'),
 (2012, 'Los Angeles Clippers', 23.303030303030305, '39', '27'),
 (2012, 'Phoenix Suns', 21.166666666666668, '32', '34'),
 (2012, 'Golden State Warriors', 18.71212121212121, '25', '41'),
 (2012, 'Sacramento Kings', 23.21212121212121, '21', '45'),
 (2012, 'San Antonio Spurs', 21.62121212121212, '48', '18'),
 (2012, 'Memphis Grizzlies', 22.78787878787879, '38', '28'),
 (2012, 'Dallas Mavericks', 20.21212121212121, '35', '31'),
 (2012, 'Houston Rockets', 19.71212121212121, '34', '32'),
 (2012, 'New Orleans Hornets', 21.166666666666668, '24', '42'),
 (2013, 'New York Knicks', 21.085365853658537, '53', '29'),
 (2013, 'Brooklyn Nets', 23.878048780487806, '46', '36'),
 (2013, 'Boston Celtics', 20.962962962962962, '40', '41'),
 (2013, 'Philadelphia 76ers', 16.79268292682927, '31', '51'),
 (2013, 'Toronto Raptors', 22.329268292682926, '37', '45'),
 (2013, 'Indiana Pacers', 23.641975308641975, '52', '29'),
 (2013, 'Chicago Bulls', 21.195121951219512, '42', '40'),
 (2013, 'Milwaukee Bucks', 20.73170731707317, '37', '45'),
 (2013, 'Detroit Pistons', 22.804878048780488, '29', '53'),
 (2013, 'Cleveland Cavaliers', 22.26829268292683, '28', '54'),
 (2013, 'Miami Heat', 23.01219512195122, '62', '20'),
 (2013, 'Atlanta Hawks', 19.74390243902439, '42', '40'),
 (2013, 'Washington Wizards', 21.29268292682927, '33', '49'),
 (2013, 'Charlotte Bobcats', 25.121951219512194, '17', '65'),
 (2013, 'Orlando Magic', 16.573170731707318, '22', '60'),
 (2013, 'Oklahoma City Thunder', 26.78048780487805, '64', '18'),
 (2013, 'Denver Nuggets', 26.195121951219512, '55', '27'),
 (2013, 'Utah Jazz', 22.963414634146343, '41', '41'),
 (2013, 'Portland Trail Blazers', 20.48780487804878, '32', '50'),
 (2013, 'Minnesota Timberwolves', 24.902439024390244, '34', '48'),
 (2013, 'Los Angeles Clippers', 23.024390243902438, '59', '23'),
 (2013, 'Golden State Warriors', 21.26829268292683, '44', '38'),
 (2013, 'Los Angeles Lakers', 27.914634146341463, '44', '38'),
 (2013, 'Sacramento Kings', 22.79268292682927, '28', '54'),
 (2013, 'Phoenix Suns', 19.73170731707317, '23', '59'),
 (2013, 'San Antonio Spurs', 21.036585365853657, '58', '24'),
 (2013, 'Memphis Grizzlies', 21.29268292682927, '54', '28'),
 (2013, 'Houston Rockets', 25.451219512195124, '50', '32'),
 (2013, 'Dallas Mavericks', 20.353658536585368, '39', '43'),
 (2013, 'New Orleans Hornets', 19.951219512195124, '30', '52'),
 (2014, 'Toronto Raptors', 25.0609756097561, '50', '32'),
 (2014, 'Brooklyn Nets', 24.414634146341463, '38', '44'),
 (2014, 'New York Knicks', 20.365853658536587, '39', '43'),
 (2014, 'Boston Celtics', 20.804878048780488, '28', '54'),
 (2014, 'Philadelphia 76ers', 23.390243902439025, '16', '66'),
 (2014, 'Indiana Pacers', 23.25609756097561, '54', '28'),
 (2014, 'Chicago Bulls', 23.26829268292683, '47', '35'),
 (2014, 'Cleveland Cavaliers', 22.695121951219512, '32', '50'),
 (2014, 'Detroit Pistons', 25.74390243902439, '31', '51'),
 (2014, 'Milwaukee Bucks', 22.475609756097562, '20', '62'),
 (2014, 'Miami Heat', 22.975609756097562, '54', '28'),
 (2014, 'Washington Wizards', 20.914634146341463, '45', '37'),
 (2014, 'Charlotte Bobcats', 24.390243902439025, '40', '42'),
 (2014, 'Atlanta Hawks', 21.73170731707317, '40', '42'),
 (2014, 'Orlando Magic', 20.902439024390244, '26', '56'),
 (2014, 'Oklahoma City Thunder', 25.024390243902438, '58', '24'),
 (2014, 'Portland Trail Blazers', 23.48780487804878, '52', '30'),
 (2014, 'Minnesota Timberwolves', 28.0609756097561, '48', '34'),
 (2014, 'Denver Nuggets', 26.26829268292683, '35', '47'),
 (2014, 'Utah Jazz', 21.98780487804878, '22', '60'),
 (2014, 'Los Angeles Clippers', 29.073170731707318, '59', '23'),
 (2014, 'Golden State Warriors', 21.109756097560975, '54', '28'),
 (2014, 'Phoenix Suns', 24.4390243902439, '48', '34'),
 (2014, 'Sacramento Kings', 27.28048780487805, '33', '49'),
 (2014, 'Los Angeles Lakers', 22.378048780487806, '25', '57'),
 (2014, 'San Antonio Spurs', 20.024390243902438, '61', '21'),
 (2014, 'Houston Rockets', 31.085365853658537, '53', '29'),
 (2014, 'Memphis Grizzlies', 20.317073170731707, '46', '36'),
 (2014, 'Dallas Mavericks', 21.134146341463413, '48', '34'),
 (2014, 'New Orleans Pelicans', 23.609756097560975, '33', '49'),
 (2015, 'Toronto Raptors', 24.5609756097561, '49', '33'),
 (2015, 'Boston Celtics', 20.463414634146343, '41', '41'),
 (2015, 'Brooklyn Nets', 22.158536585365855, '33', '49'),
 (2015, 'Philadelphia 76ers', 23.817073170731707, '18', '64'),
 (2015, 'New York Knicks', 19.20731707317073, '17', '65'),
 (2015, 'Cleveland Cavaliers', 23.585365853658537, '53', '29'),
 (2015, 'Chicago Bulls', 25.20731707317073, '50', '32'),
 (2015, 'Milwaukee Bucks', 21.146341463414632, '42', '40'),
 (2015, 'Indiana Pacers', 22.158536585365855, '42', '40'),
 (2015, 'Detroit Pistons', 22.414634146341463, '38', '44'),
 (2015, 'Atlanta Hawks', 21.158536585365855, '56', '26'),
 (2015, 'Washington Wizards', 21.4390243902439, '43', '39'),
 (2015, 'Miami Heat', 23.658536585365855, '33', '49'),
 (2015, 'Charlotte Hornets', 22.76829268292683, '32', '50'),
 (2015, 'Orlando Magic', 19.085365853658537, '25', '57'),
 (2015, 'Portland Trail Blazers', 19.378048780487806, '53', '29'),
 (2015, 'Oklahoma City Thunder', 24.634146341463413, '47', '35'),
 (2015, 'Utah Jazz', 23.524390243902438, '42', '40'),
 (2015, 'Denver Nuggets', 24.28048780487805, '31', '51'),
 (2015, 'Minnesota Timberwolves', 25.73170731707317, '19', '63'),
 (2015, 'Golden State Warriors', 20.841463414634145, '65', '17'),
 (2015, 'Los Angeles Clippers', 25.20731707317073, '58', '24'),
 (2015, 'Phoenix Suns', 21.548780487804876, '38', '44'),
 (2015, 'Sacramento Kings', 29.26829268292683, '31', '51'),
 (2015, 'Los Angeles Lakers', 23.597560975609756, '23', '59'),
 (2015, 'Houston Rockets', 26.01219512195122, '50', '32'),
 (2015, 'San Antonio Spurs', 21.390243902439025, '58', '24'),
 (2015, 'Memphis Grizzlies', 22.79268292682927, '50', '32'),
 (2015, 'Dallas Mavericks', 22.475609756097562, '49', '33'),
 (2015, 'New Orleans Pelicans', 21.829268292682926, '43', '39'),
 (2016, 'Toronto Raptors', 26.70731707317073, '53', '29'),
 (2016, 'Boston Celtics', 23.524390243902438, '50', '32'),
 (2016, 'New York Knicks', 21.378048780487806, '33', '49'),
 (2016, 'Brooklyn Nets', 20.71951219512195, '22', '60'),
 (2016, 'Philadelphia 76ers', 22.5609756097561, '16', '66'),
 (2016, 'Cleveland Cavaliers', 21.74390243902439, '57', '25'),
 (2016, 'Indiana Pacers', 22.829268292682926, '46', '36'),
 (2016, 'Detroit Pistons', 25.548780487804876, '43', '39'),
 (2016, 'Chicago Bulls', 20.975609756097562, '37', '45'),
 (2016, 'Milwaukee Bucks', 22.71951219512195, '29', '53'),
 (2016, 'Miami Heat', 23.036585365853657, '46', '36'),
 (2016, 'Atlanta Hawks', 19.975609756097562, '51', '31'),
 (2016, 'Charlotte Hornets', 23.670731707317074, '49', '33'),
 (2016, 'Washington Wizards', 22.548780487804876, '40', '42'),
 (2016, 'Orlando Magic', 20.109756097560975, '36', '46'),
 (2016, 'Oklahoma City Thunder', 25.20731707317073, '59', '23'),
 (2016, 'Portland Trail Blazers', 23.036585365853657, '43', '39'),
 (2016, 'Utah Jazz', 22.98780487804878, '46', '36'),
 (2016, 'Denver Nuggets', 24.073170731707318, '33', '49'),
 (2016, 'Minnesota Timberwolves', 26.98780487804878, '31', '51'),
 (2016, 'Golden State Warriors', 21.829268292682926, '65', '17'),
 (2016, 'Los Angeles Clippers', 26.24390243902439, '53', '29'),
 (2016, 'Sacramento Kings', 25.475609756097562, '34', '48'),
 (2016, 'Phoenix Suns', 23.23170731707317, '24', '58'),
 (2016, 'Los Angeles Lakers', 24.73170731707317, '17', '65'),
 (2016, 'San Antonio Spurs', 20.390243902439025, '67', '15'),
 (2016, 'Dallas Mavericks', 22.329268292682926, '40', '42'),
 (2016, 'Memphis Grizzlies', 24.682926829268293, '35', '47'),
 (2016, 'Houston Rockets', 29.353658536585368, '42', '40'),
 (2016, 'New Orleans Pelicans', 22.23170731707317, '31', '51')]

In [473]:
df = pd.DataFrame.from_records(Team_FTA_Year_WL)

In [477]:
df.head()

      0                   1          2   3   4
0  2009      Boston Celtics  25.304878  61  21
1  2009  Philadelphia 76ers  27.024390  41  41
2  2009     New Jersey Nets  24.146341  34  48
3  2009     Toronto Raptors  22.695122  33  49
4  2009     New York Knicks  23.170732  34  48

In [483]:
df[[3,4]] = df[[3,4]].apply(pd.to_numeric)

In [488]:
df['Win%'] = 100*df[3]/(df[4]+df[3])

In [502]:
TeamID = df[1].str.split(' ')

In [504]:
Last_Word = [TeamID[idx][-1] for idx in xrange(len(TeamID))]

In [506]:
Last_Word[:5]

['Celtics', '76ers', 'Nets', 'Raptors', 'Knicks']

In [475]:
df2 = pd.DataFrame.from_records(team_year_attend)

In [476]:
df2.head()

               0     1       2
0        Pistons  2009  21,877
1          Bulls  2009  21,197
2  Trail Blazers  2009  20,524
3      Mavericks  2009  20,042
4      Cavaliers  2009  20,010

In [508]:
TeamID_df2 = df2[0].str.split(' ')

In [509]:
Last_Word_df2 = [TeamID_df2[idx][-1] for idx in xrange(len(TeamID_df2))]

In [511]:
df['Last Word'] = Last_Word

In [512]:
df2['Last Word'] = Last_Word_df2

In [514]:
df.tail()

        0                     1          2   3   4       Win%  Last Word
235  2016     San Antonio Spurs  20.390244  67  15  81.707317      Spurs
236  2016      Dallas Mavericks  22.329268  40  42  48.780488  Mavericks
237  2016     Memphis Grizzlies  24.682927  35  47  42.682927  Grizzlies
238  2016       Houston Rockets  29.353659  42  40  51.219512    Rockets
239  2016  New Orleans Pelicans  22.231707  31  51  37.804878   Pelicans

In [517]:
df2.tail()

                0     1       2     Last Word
235         Bucks  2016  15,166         Bucks
236          Nets  2016  15,125          Nets
237         76ers  2016  14,881         76ers
238  Timberwolves  2016  14,175  Timberwolves
239       Nuggets  2016  14,095       Nuggets

In [522]:
df = df.rename(index=str, columns={0: "Year", 1: "Team and Location", 2: "FT/Game", 3: "Wins", 4: "Loss"})

In [523]:
df.head()

   Year   Team and Location    FT/Game  Wins  Loss       Win% Last Word
0  2009      Boston Celtics  25.304878    61    21  74.390244   Celtics
1  2009  Philadelphia 76ers  27.024390    41    41  50.000000     76ers
2  2009     New Jersey Nets  24.146341    34    48  41.463415      Nets
3  2009     Toronto Raptors  22.695122    33    49  40.243902   Raptors
4  2009     New York Knicks  23.170732    34    48  41.463415    Knicks

In [520]:
df2 = df2.rename(index=str, columns={0: "Full Team Name", 1: "Year", 2: "Attendance"})

In [521]:
df2.head()

  Full Team Name  Year Attendance  Last Word
0        Pistons  2009     21,877    Pistons
1          Bulls  2009     21,197      Bulls
2  Trail Blazers  2009     20,524    Blazers
3      Mavericks  2009     20,042  Mavericks
4      Cavaliers  2009     20,010  Cavaliers

In [524]:
merged_df = pd.merge(df, df2, how='inner', on=['Last Word', 'Year'])

In [535]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 0 to 233
Data columns (total 9 columns):
Year                 234 non-null int64
Team and Location    234 non-null object
FT/Game              234 non-null float64
Wins                 234 non-null int64
Loss                 234 non-null int64
Win%                 234 non-null float64
Last Word            234 non-null object
Full Team Name       234 non-null object
Attendance           234 non-null object
dtypes: float64(2), int64(3), object(4)
memory usage: 18.3+ KB

In [534]:
merged_df.groupby('Year').count()

,Team and Location,FT/Game,Wins,Loss,Win%,Last Word,Full Team Name,Attendance
Year,,,,,,,,
2009,29,29,29,29,29,29,29,29
2010,29,29,29,29,29,29,29,29
2011,29,29,29,29,29,29,29,29
2012,29,29,29,29,29,29,29,29
2013,29,29,29,29,29,29,29,29
2014,29,29,29,29,29,29,29,29
2015,30,30,30,30,30,30,30,30
2016,30,30,30,30,30,30,30,30

In [536]:
df.head(30)

,Year,Team and Location,FT/Game,Wins,Loss,Win%,Last Word
0,2009,Boston Celtics,25.304878,61,21,74.390244,Celtics
1,2009,Philadelphia 76ers,27.024390,41,41,50.000000,76ers
2,2009,New Jersey Nets,24.146341,34,48,41.463415,Nets
3,2009,Toronto Raptors,22.695122,33,49,40.243902,Raptors
4,2009,New York Knicks,23.170732,34,48,41.463415,Knicks
5,2009,Cleveland Cavaliers,24.536585,65,17,79.268293,Cavaliers
6,2009,Chicago Bulls,25.024390,40,42,48.780488,Bulls
7,2009,Detroit Pistons,22.548780,40,42,48.780488,Pistons
8,2009,Indiana Pacers,23.048780,38,44,46.341463,Pacers
9,2009,Milwaukee Bucks,25.207317,38,44,46.341463,Bucks
10,2009,Orlando Magic,27.475610,59,23,71.951220,Magic
11,2009,Atlanta Hawks,25.426829,46,36,56.097561,Hawks
12,2009,Miami Heat,22.817073,42,40,51.219512,Heat
13,2009,Charlotte Bobcats,23.963415,37,45,45.121951,Bobcats
14,2009,Washington Wizards,23.756098,21,61,25.609756,Wizards
15,2009,Denver Nuggets,30.329268,50,32,60.975610,Nuggets
16,2009,Portland Trail Blazers,24.243902,56,26,68.292683,Blazers
17,2009,Utah Jazz,28.682927,48,34,58.536585,Jazz
18,2009,Minnesota Timberwolves,23.865854,27,55,32.926829,Timberwolves
19,2009,Oklahoma City Thunder,25.231707,24,58,29.268293,Thunder
20,2009,Los Angeles Lakers,25.451220,61,21,74.390244,Lakers
21,2009,Phoenix Suns,27.451220,46,36,56.097561,Suns
22,2009,Golden State Warriors,29.170732,31,51,37.804878,Warriors
23,2009,Los Angeles Clippers,22.426829,18,64,21.951220,Clippers
24,2009,Sacramento Kings,25.695122,19,63,23.170732,Kings
25,2009,San Antonio Spurs,20.012195,52,30,63.414634,Spurs
26,2009,Houston Rockets,23.207317,53,29,64.634146,Rockets
27,2009,Dallas Mavericks,22.585366,47,35,57.317073,Mavericks
28,2009,New Orleans Hornets,22.353659,46,36,56.097561,Hornets
29,2009,Memphis Grizzlies,25.329268,26,56,31.707317,Grizzlies

In [543]:
df2.head(30)

   Full Team Name  Year Attendance     Last Word
0         Pistons  2009     21,877       Pistons
1           Bulls  2009     21,197         Bulls
2   Trail Blazers  2009     20,524       Blazers
3       Mavericks  2009     20,042     Mavericks
4       Cavaliers  2009     20,010     Cavaliers
5            Jazz  2009     19,903          Jazz
6       NY Knicks  2009     19,287        Knicks
7          Lakers  2009     18,997        Lakers
8        Warriors  2009     18,942      Warriors
9         Raptors  2009     18,773       Raptors
10        Thunder  2009     18,693       Thunder
11        Celtics  2009     18,624       Celtics
12           Suns  2009     18,422          Suns
13          Spurs  2009     18,269         Spurs
14           Heat  2009     18,229          Heat
15        Rockets  2009     17,482       Rockets
16        Nuggets  2009     17,223       Nuggets
17          Magic  2009     17,043         Magic
18       Pelicans  2009     16,968      Pelicans
19          Hawks  2009     16,748         Hawks
20        Wizards  2009     16,612       Wizards
21       Clippers  2009     16,170      Clippers
22          76ers  2009     15,802         76ers
23          Bucks  2009     15,389         Bucks
24           Nets  2009     15,147          Nets
25        Hornets  2009     14,526       Hornets
26   Timberwolves  2009     14,505  Timberwolves
27         Pacers  2009     14,182        Pacers
28      Grizzlies  2009     12,745     Grizzlies
29          Kings  2009     12,571         Kings

## Bobcats/Hornets messing up data

In [544]:
df = df.replace('Bobcats', 'Hornets')

In [546]:
merged_df = pd.merge(df, df2, how='inner', on=['Last Word', 'Year'])

In [547]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 9 columns):
Year                 240 non-null int64
Team and Location    240 non-null object
FT/Game              240 non-null float64
Wins                 240 non-null int64
Loss                 240 non-null int64
Win%                 240 non-null float64
Last Word            240 non-null object
Full Team Name       240 non-null object
Attendance           240 non-null object
dtypes: float64(2), int64(3), object(4)
memory usage: 18.8+ KB

In [552]:
merged_df.head()

,Year,Team and Location,FT/Game,Wins,Loss,Win%,Last Word,Full Team Name,Attendance
0,2009,Boston Celtics,25.304878,61,21,74.390244,Celtics,Celtics,"18,624"
1,2009,Philadelphia 76ers,27.024390,41,41,50.000000,76ers,76ers,"15,802"
2,2009,New Jersey Nets,24.146341,34,48,41.463415,Nets,Nets,"15,147"
3,2009,Toronto Raptors,22.695122,33,49,40.243902,Raptors,Raptors,"18,773"
4,2009,New York Knicks,23.170732,34,48,41.463415,Knicks,NY Knicks,"19,287"

In [558]:
merged_df['Attendance'] = merged_df['Attendance'].str.replace(',', '')

In [561]:
merged_df['Attendance'] = merged_df['Attendance'].astype(int)

In [562]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 9 columns):
Year                 240 non-null int64
Team and Location    240 non-null object
FT/Game              240 non-null float64
Wins                 240 non-null int64
Loss                 240 non-null int64
Win%                 240 non-null float64
Last Word            240 non-null object
Full Team Name       240 non-null object
Attendance           240 non-null int64
dtypes: float64(2), int64(4), object(3)
memory usage: 18.8+ KB

In [563]:
clean_df_towrite = merged_df.drop(['Last Word','Full Team Name'], axis=1)

In [564]:
clean_df_towrite.head()

   Year   Team and Location    FT/Game  Wins  Loss       Win%  Attendance
0  2009      Boston Celtics  25.304878    61    21  74.390244       18624
1  2009  Philadelphia 76ers  27.024390    41    41  50.000000       15802
2  2009     New Jersey Nets  24.146341    34    48  41.463415       15147
3  2009     Toronto Raptors  22.695122    33    49  40.243902       18773
4  2009     New York Knicks  23.170732    34    48  41.463415       19287

In [566]:
clean_df_towrite.to_csv('data.csv', sep='\t')